= form_for [@team, @stadium] do |f|
  = error_messages_for(@stadium)

  .row
    .col-md-3
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
  .actions
    = f.submit t('buttons.save'), class: 'btn btn-primary'
