%h1 Редактирование стадиона

= render 'form'

%br

.btn-group
  = link_to @stadium, class: 'btn btn-info' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    = t('buttons.back')
  = link_to @stadium.team, class: 'btn btn-warning' do
    = inline_svg 'group.svg', class: 'svg-picture-btn white'
    Команда << #{@stadium.team.title} >>
