%h1 Редактирование стадиона

= render 'form'

%br

.btn-group
  = link_to @stadium, class: 'btn btn-info' do
    = fa_icon "reply"
    Назад
  = link_to @stadium.team, class: 'btn btn-warning' do
    = fa_icon "users"
    Команда << #{@stadium.team.title} >>
