%h1 Создание стадиона

= render 'form'

%br

= link_to @current_user_team, class: 'btn btn-info' do
  = inline_svg_tag 'reply.svg', class: 'svg-picture-btn white'
  #{t 'buttons.back_to'} << #{@current_user_team.title} >>