.page-header
  %h1= @stadium.title
%p
  %b Владелец:
  = link_to @team.title, @team, style: "color: #00F"
%p
  %b Вместительность:
  -if @current_user == @team.user || @current_user.administrator?
    -if @stadium.max_capacity != @stadium.capacity
      = form_for @stadium, url: capacity_up_stadium_path(@stadium), method: :patch do |f|
        .row
          .col-md-3
            .input-group
              = f.number_field :capacity, class: 'form-control', min: @stadium.capacity + 1, max: @stadium.max_capacity
              %span{class: "input-group-btn"}
                .actions
                  = f.submit t('buttons.increase'), class: 'btn btn-default'
              Цена за 1 место:
              = @stadium.seatcost
    -elsif @stadium.max_capacity == @stadium.capacity && @stadium.level < 5
      = @stadium.capacity
      Достигнута максимальная вместительность. Необходимо увеличить уровень стадиона.
    -else
      = @stadium.capacity
      Достигнута максимальная вместительность.
  -else
    = @stadium.capacity
%p
  %b Уровень:
  = @stadium.level
  -if @current_user == @team.user || @current_user.administrator?
    -if @stadium.max_capacity == @stadium.capacity && @stadium.level < 5
      = link_to '+', level_up_stadium_path(@stadium), method: :patch, class: 'btn btn-default btn-sm'

%p
  %b 
    Допустимая вместительность при текущем уровне:
    = @stadium.valid_capacity

.btn-group
  = link_to @stadium.team, class: 'btn btn-info' do
    = fa_icon "users"
    = @team.title
  -if @current_user == @team.user || @current_user.moderator?
    = link_to edit_stadium_path(@stadium), class: 'btn btn-danger' do
      = fa_icon "edit"
      = t('buttons.edit')
