= form_for @team do |f|
  = error_messages_for(@team)

  .row
    .col-md-3
      .form-group
        = inline_svg_tag 'pencil.svg', class: 'svg-picture'
        = f.label :title
        = f.text_field :title, class: 'form-control'
  .actions
    = f.submit t('buttons.save'), class: 'btn btn-primary'
