%h1 Команды

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Владелец
      %th Название
      %th Спонсор
      %th Стадион
      %th База клуба
      %th Бюджет
      %th Фаны
      %th
      %th
      %th
      
  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.user.login, team.user, style:"color: #FFA500"
        %td= link_to team.title, team,  style:"color: #00F"
        %td
          = link_to team.sponsor.title, team.sponsor, style:"color: #550"
        %td
          -if team.stadium
            = link_to "#{team.stadium.title} (#{team.stadium.capacity})", team.stadium, style: "color: #F00"
          -else
            .text-danger Не создан!
        %td
          -if team.club_base
            =link_to team.club_base.title, team.club_base, style: "color: #458B74"
          -else
            .text-danger Не создана!
        %td= team.budget_to_currency
        %td= number_to_human(team.fans, locale: :en, units: {thousand: "K",million:"M"})
        -if @current_user.moderator?
          %td.text-center
            = link_to edit_team_path(team), class: "btn btn-link" do
              =fa_icon "edit"
          %td.text-center
            = link_to team, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-link" do
              =fa_icon "remove"
        %td.text-center
          = link_to team, class: "btn btn-link" do
            =fa_icon "arrow-circle-right"
