.page-header
  %h1= t 'operations.history'
  %h3 #{t 'teams.current_balance'} = #{@team.budget_to_currency}

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th.text-center
        = inline_svg 'timer.svg', class: 'svg-picture'
        = t 'operations.time'
      %th.text-center
        = inline_svg 'pencil.svg', class: 'svg-picture'
        = t 'operations.title'
      %th.text-center
        = inline_svg 'usd.svg', class: 'svg-picture'
        = t 'operations.sum'
      
  %tbody
    - @financies.each do |fin|
      -color = fin.kind ? '#CEF6CE' : '#F6D9D9'
      %tr.text-center{style: "background: #{color}"}
        %td
          = l fin.created_at
        %td
          = fin.title
        %td
          = fin.kind ? '+' : '-'
          = fin.sum_to_currency

.btn-group
  = link_to @current_user_team, class: 'btn btn-warning' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    #{t 'buttons.back_to'} << #{@current_user_team.title} >>
