/ TODO добавить отображение morale, physical_condition

.text-center
  .page-header
    %h1
      = @team.title
      = image_tag @team.country.flag.url, title: @team.country.title
  %p
    %b Владелец:
    = link_to @team.user.login, @team.user, style: "color: #FFA500", class: 'btn btn-link'
  %p
    %b Спонсор:
    = link_to @team.sponsor.title, [@team, @team.sponsor], style: "color: #550", class: 'btn btn-link'
    %p
      %b Стадион:
      -if @stadium
        -stc = @stadium.capacity
        = link_to [@team, @stadium], style: "color: #F00", class: 'btn btn-link' do
          = inline_svg 'stadium.svg', class: 'svg-picture-btn green'
          #{@stadium.title} (#{stc} #{Russian.p(stc, 'место', 'места', 'мест')})
      -else
        Не создан
  %p
    %b База клуба:
    -if @club_base
      = link_to @club_base.title + " (#{@club_base.level})", [@team, @club_base], style: "color: #458B74", class: 'btn btn-link'
    -else
      Не создана
  %p
    %b Бюджет:
    = @team.budget_to_currency
  %p
    %b Фаны:
    %span
      = inline_svg 'group.svg', class: 'svg-picture'
    = @team.fans

  %br

  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr{class: 'success'}
        %th.text-center
          №
        %th.text-center
          = inline_svg 'footballer.svg', class: 'svg-picture-table'
          Игрок
        %th.text-center
          = inline_svg 'flag.svg', class: 'svg-picture-table'
          Национальность
        %th.text-center{'colspan': 2}
          = inline_svg 'location.svg', class: 'svg-picture-table'
          Позиция
        %th.text-center
          = inline_svg 'level-up.svg', class: 'svg-picture-table'
          Талант
        %th.text-center
          = inline_svg 'history.svg', class: 'svg-picture-table'
          Возраст
        %th.text-center
          = inline_svg 'level.svg', class: 'svg-picture-table'
          Мастерство
        %th.text-center
          = inline_svg 'usd.svg', class: 'svg-picture-table'
          Цена
        %th.text-center{title: "Основной состав/запас"} О/З
        %th.text-center
          = inline_svg 'cogwheel.svg', class: 'svg-picture-table'
          Действия

    %tbody
      - @players.each do |pl|
        -color = pl.basic ? '#CEF6CE' : '#F6D9D9'
        %tr.text-center{style: "background: #{color}"}
          %td
            %strong= pl.number
          %td
            = pl.name
            = inline_svg 'copyright.svg', class: 'svg-picture', title: 'Капитан' if pl.captain
            = inline_svg 'transfer.svg', class: 'svg-picture', title: 'На трансфере' if pl.status == 'transfer'
          %td= image_tag pl.country.flag.url, title: pl.country.title
          / TODO подумать как лучше отображать
          %td{title: pl.position1}
            = pl.full_position_name
          %td{title: pl.real_position}
            = pl.real_position_name
          %td= pl.talent
          %td= pl.age
          %td= pl.skill_level
          %td= pl.price_to_currency
          %td
            -if pl.basic
              .li{style: "color: #00F", title: "Основной состав"} О
            -else
              .li{style: "color: #D00", title: "Запас"} З
          %td
            / = link_to edit_player_in_team_path(pl), title: 'Редактировать игрока', class: 'btn btn-link' do
            / = inline_svg 'edit.svg', class: 'svg-picture-btn'
            = link_to pl, class: 'btn btn-default', title: 'Обзор игрока' do
              = inline_svg 'street-view.svg', class: 'svg-picture-btn green'
            -if @current_user == @team.user
              = link_to new_transfer_path(player_id: pl.id), class: 'btn btn-default', title: 'Выставить на трансфер' do
                = inline_svg 'transfer.svg', class: 'svg-picture-btn'
              = link_to sell_player_path(pl), method: :patch, data: { confirm: 'Продать игрока за полцены на рынок свободных агентов? Это действие отменить нельзя!' }, title: 'Продать игрока', class: 'btn btn-default' do
                = inline_svg 'usd.svg', class: 'svg-picture-btn green'
      %tr{class: 'info'}
        %th.text-center{'colspan': 2}
          Всего игроков:
          %span.text-danger
            = @team.squad_size
        %th.text-center{'colspan': 3}
          Среднее по команде:
        %th.text-center.text-danger
          = @team.averages[:av_tal]
        %th.text-center.text-danger
          = @team.averages[:av_age]
        %th.text-center.text-danger
          = @team.averages[:av_skills]
        %th.text-center.text-danger
          = @team.averages[:av_price]
        %th{'colspan': 2}
      %tr{class: 'info'}
        %th{'colspan': 2}
        %th.text-center{'colspan': 3}
          Суммарно:
        %th{'colspan': 2}
        %th.text-center.text-danger
          = @team.averages[:full_power]
        %th.text-center.text-danger
          = @team.averages[:full_cost]
        %th{'colspan': 2}
  .btn-group
    -if @current_user == @team.user || @current_user.moderator?
      = link_to edit_team_path(@team), class: 'btn btn-danger' do
        = inline_svg 'edit-group.svg', class: 'svg-picture-btn white'
        Редактировать
    -if @current_user.moderator?
      = link_to teams_path, class: 'btn btn-warning' do
        = inline_svg 'reply.svg', class: 'svg-picture-btn white'
        Все команды
    -if @current_user_team == @team
      -unless @team.stadium
        = link_to new_team_stadium_path(team_id: @team.id), class: 'btn btn-primary' do
          = inline_svg 'stadium.svg', class: 'svg-picture-btn white'
          Перейти к созданию стадиона
      -unless @team.club_base
        = link_to 'Перейти к созданию базы клуба', new_team_club_basis_path(team_id: @team.id), class: 'btn btn-warning'
