%p
  %b Владелец:
  = @team.user.login
%p
  %b Название:
  = @team.title
%p
  %b Спонсор:
  = Sponsor.find(@team.sponsor_id).title
%p
  %b Стадион:
  = @team.stadium_id
%p
  %b База клуба:
  = @team.club_basis_id
%p
  %b Бюджет:
  .fa.fa-usd
  = @team.budget
%p
  %b Фаны:
  = @team.fans

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path

-if @team.stadium_id.blank? && @team.user==@current_user
  = link_to 'Перейти к созданию стадиона',{:action => :new, :controller => :stadia,:team_id => @team.id}, class: 'btn btn-primary'
-if @team.club_basis_id.blank? && @team.user==@current_user
  = link_to 'Перейти к созданию базы клуба',{:action => :new, :controller => :club_bases,:team_id => @team.id}, class: 'btn btn-primary'