.text-center
  .page-header
    %h1= @team.title
  %p
    %b Владелец:
    =link_to @team.user.login, @team.user, style:"color: #FFA500", class: 'btn btn-link'
  %p
    %b Спонсор:
    -sp = @team.sponsor
    =link_to sp.title, sp, style:"color: #550", class: 'btn btn-link'
    %p
      %b Стадион:
      -if @stadium
        -stc = @stadium.capacity
        =link_to "#{@stadium.title} (#{stc} #{Russian.p(stc,'место','места','мест')})", @stadium, style:"color: #F00", class: 'btn btn-link'
      -else
        Не создан
  %p
    %b База клуба:
    -if @club_basis
      -cb = @club_basis
      =link_to cb.title+" (#{cb.level})", cb, style: "color: #458B74", class: 'btn btn-link'
    -else
      Не создана
  %p
    %b Бюджет:
    = number_to_currency(@team.budget, precision: 3, locale: :en)
  %p
    %b Фаны:
    .fa.fa-users
    = @team.fans
  %br
  -kol=@players.size
  -if kol!=0
    -av_skills,av_tal,av_age,av_price=0,0,0,0
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr{class: 'success'}
          %th.text-center
            №
          %th.text-center
            .fa.fa-male
            Игрок
          %th.text-center
            .fa.fa-flag
            Национальность
          %th.text-center
            .fa.fa-bookmark
            Позиция
          %th.text-center
            .fa.fa-level-up
            Талант
          %th.text-center
            .fa.fa-history
            Возраст
          %th.text-center
            .fa.fa-line-chart
            Мастерство
          %th.text-center
            .fa.fa-money
            Цена
          %th.text-center{title: "Специальные умения"}
            .fa.fa-flash
          %th.text-center{title: "Игры"}
            .fa.fa-exclamation-triangle
          %th.text-center{title: "Пропущенные голы"}
            .fa.fa-minus
            .fa.fa-futbol-o
          %th.text-center{title: "Забитые голы"}
            .fa.fa-plus
            .fa.fa-futbol-o
          %th.text-center{title: "Голевые пасы"}
            .fa.fa-share
            .fa.fa-futbol-o
          %th.text-center{title: "Автоголы"}
            .fa.fa-frown-o
            .fa.fa-futbol-o
          %th.text-center{style: "color: #FF0",title: "Жёлтые карточки"}
            .fa.fa-square
          %th.text-center{style: "color: #D00",title: "Красные карточки"}
            .fa.fa-square
          %th.text-center{title: "Основной состав/запас"} О/З
          -if @current_user==@team.user
            %th
            %th
          -else
            %th
          %th

      %tbody
        - @players.each do |pl|
          -av_skills+=pl.skill_level
          -av_age+=pl.age
          -av_price+=pl.price
          -av_tal+=pl.talent
          -c=pl.country
          -if pl.basic
            -styl="#CEF6CE"
          -else
            -styl="#F6D9D9"
          %tr.text-center{style:"background: #{styl}"}
            %td
              %strong= pl.number
            %td
              = pl.name
              = fa_icon 'copyright', title: 'Капитан' if pl.captain
            %td= image_tag c.flag.url, title: c.title
            %td{title: pl.right_alph_srt(pl.position1)}
              -str="#{pl.position1}"
              -if !pl.position2.blank?
                -str+=" / #{pl.position2}"
              =str
            %td= pl.talent
            %td= pl.age
            %td= pl.skill_level
            %td
              -a,count,i="#{pl.price}".reverse,0,0
              -while a[i]!='.'
                -count+=1;i+=1
              #{number_to_currency(pl.price, locale: :en, precision: count)}
            %td
              -str=""
              -if pl.special_skill1
                -str=str+pl.special_skill1+"-#{pl.num_sp_s1}"
                -str=str+" / "+pl.special_skill2+"-#{pl.num_sp_s2}" if pl.special_skill2
                -str=str+" / "+pl.special_skill3+"-#{pl.num_sp_s3}" if pl.special_skill3
              #{str}
            %td #{pl.season_games}/#{pl.all_games}
            %td #{pl.season_conceded_goals}/#{pl.all_conceded_goals}
            %td #{pl.season_goals}/#{pl.all_goals}
            %td #{pl.season_passes}/#{pl.all_passes}
            %td #{pl.season_autogoals}/#{pl.all_autogoals}
            %td #{pl.season_yellow_cards}/#{pl.all_yellow_cards}
            %td #{pl.season_red_cards}/#{pl.all_red_cards}
            %td
              -if pl.basic
                .li{style:"color: #00F", title:"Основной состав"} О
              -else
                .li{style:"color: #D00", title:"Запас"} З
            -if @current_user==@team.user
              %td
                = link_to edit_player_in_team_path(pl), title: 'Редактировать игрока', class: 'btn btn-link' do
                  =fa_icon 'wrench'
              %td
                = link_to pl, method: :delete, controller: :player_in_teams, :data => { :confirm => 'Продать игрока за полцены на рынок свободных агентов? Игрок потеряет все спец. умения. Это действие отменить нельзя!' }, title: 'Продать игрока', class: "btn btn-link" do
                  =fa_icon 'usd'
                  =fa_icon 'sign-out'
                = link_to "/transfers/new?player_id=#{pl.id}", class: 'btn btn-link' do
                  .glyphicon.glyphicon-transfer
            -else
              %td
                = link_to '#', :data => { :confirm => 'Создать заявку на покупку этого игрока?' }, title: 'Купить игрока', class: "btn btn-link" do
                  .glyphicon.glyphicon-transfer
            %td
              = link_to pl, class: 'btn btn-link', title:'Обзор игрока' do
                =fa_icon 'street-view'
    %table.table.table-bordered
      %thead
        %tr{class: 'info'}
          %th.text-center
            Среднее
            %br
            по команде:
          %th.text-center
            Талант
            .text-danger
              =(av_tal/kol.to_f).round(1)
          %th.text-center
            Возраст
            .text-danger
              =(av_age/kol.to_f).round(2)
          %th.text-center
            Мастерство
            .text-danger
              =(av_skills/kol.to_f).round(2)
          %th.text-center
            Цена
            .text-danger
              =number_to_currency(av_price/kol.to_f, locale: :en, precision: 3)
  -else
    %h3.text-danger Необходимо купить игроков:
    .btn-group
      = link_to "/teams/#{@team.id}/random_players?random=true", class: 'btn btn-default', data:{confirm: 'Пожалуйста, подождите несколько секунд...'},style:"color: #00F" do
        =fa_icon "users"
        =fa_icon "random"
        Заполнить рандомно
      = link_to players_path, class: 'btn btn-default', style:"color: #EE6A50" do
        =fa_icon "male"
        =fa_icon "male"
        Выбрать вручную
    %br
    %br
  -if @current_user==@team.user || @current_user.moderator?
    = link_to edit_team_path(@team), class: 'btn btn-danger' do
      =fa_icon "edit"
      Редактировать
    = link_to teams_path, class: 'btn btn-warning' do
      =fa_icon "reply"
      Все команды
  -if @team.stadium_id.blank? && @team.user==@current_user
    = link_to 'Перейти к созданию стадиона',{:action => :new, :controller => :stadia,:team_id => @team.id}, class: 'btn btn-primary'
  -if @team.club_basis_id.blank? && @team.user==@current_user
    = link_to 'Перейти к созданию базы клуба',{:action => :new, :controller => :club_bases,:team_id => @team.id}, class: 'btn btn-primary'