/ TODO добавить отображение morale, physical_condition

.text-center
  .page-header
    %h1
      = @team.title
      = image_tag @team.country.flag.url, title: @team.country.title
  %p
    %b Владелец:
    = link_to @team.user.login, @team.user, style: "color: #FFA500", class: 'btn btn-link'
  %p
    %b Спонсор:
    = link_to @team.sponsor.title, @team.sponsor, style: "color: #550", class: 'btn btn-link'
    %p
      %b Стадион:
      -if @stadium
        -stc = @stadium.capacity
        = link_to "#{@stadium.title} (#{stc} #{Russian.p(stc, 'место', 'места', 'мест')})", @stadium, style: "color: #F00", class: 'btn btn-link'
      -else
        Не создан
  %p
    %b База клуба:
    -if @club_base
      = link_to @club_base.title + " (#{@club_base.level})", @club_base, style: "color: #458B74", class: 'btn btn-link'
    -else
      Не создана
  %p
    %b Бюджет:
    = @team.budget_to_currency
  %p
    %b Фаны:
    %span
      = inline_svg 'group.svg', class: 'svg-picture'
    = @team.fans

  %br

  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr{class: 'success'}
        %th.text-center
          №
        %th.text-center
          = inline_svg 'footballer.svg', class: 'svg-picture-table'
          Игрок
        %th.text-center
          = inline_svg 'flag.svg', class: 'svg-picture-table'
          Национальность
        %th.text-center{'colspan': 2}
          = inline_svg 'location.svg', class: 'svg-picture-table'
          Позиция
        %th.text-center
          = inline_svg 'level-up.svg', class: 'svg-picture-table'
          Талант
        %th.text-center
          = inline_svg 'history.svg', class: 'svg-picture-table'
          Возраст
        %th.text-center
          = inline_svg 'level.svg', class: 'svg-picture-medium'
          Мастерство
        %th.text-center
          = inline_svg 'money.svg', class: 'svg-picture-table'
          Цена
        / TODO подумать об измененении иконок font-awesome...
        %th.text-center{title: "Игры"}
          = inline_svg 'field-vertical.svg', class: 'svg-picture-medium'
        %th.text-center{title: "Пропущенные голы"}
          .fa-stack
            .fa.fa-futbol-o.fa-stack-2x
            .fa-stack-1x.fa_icon_addition
              П
        %th.text-center{title: "Забитые голы"}
          .fa-stack
            .fa.fa-futbol-o.fa-stack-2x
            .fa.fa-plus.fa-stack-1x.fa_icon_addition
        %th.text-center{title: "Голевые пасы"}
          .fa-stack
            .fa.fa-futbol-o.fa-stack-2x
            .fa.fa-share.fa-stack-1x.fa_icon_addition
        %th.text-center{title: "Автоголы"}
          .fa-stack
            .fa.fa-futbol-o.fa-stack-2x
            .fa-stack-1x.fa_icon_addition
              А
        %th.text-center{style: "color: #FF0", title: "Жёлтые карточки"}
          = inline_svg 'yellowcard.svg', size: "21px * 21px"
        %th.text-center{style: "color: #D00", title: "Красные карточки"}
          = inline_svg 'redcard.svg', size: "21px * 21px"
        %th.text-center{title: "Основной состав/запас"} О/З
        -if @current_user == @team.user
          %th
        %th
        %th
    %tbody
      - @players.each do |pl|
        -if pl.basic
          -style = "#CEF6CE"
        -else
          -style = "#F6D9D9"
        %tr.text-center{style: "background: #{style}"}
          %td
            %strong= pl.number
          %td
            = pl.name
            = fa_icon 'copyright', title: 'Капитан' if pl.captain
          %td= image_tag pl.country.flag.url, title: pl.country.title
          / TODO подумать как лучше отображать
          %td{title: pl.position1}
            = pl.full_position_name
          %td{title: pl.real_position}
            = pl.real_position_name
          %td= pl.talent
          %td= pl.age
          %td= pl.skill_level
          %td= pl.price_to_currency
          %td #{pl.season_games}/#{pl.all_games}
          %td #{pl.season_conceded_goals}/#{pl.all_conceded_goals}
          %td #{pl.season_goals}/#{pl.all_goals}
          %td #{pl.season_passes}/#{pl.all_passes}
          %td #{pl.season_autogoals}/#{pl.all_autogoals}
          %td #{pl.season_yellow_cards}/#{pl.all_yellow_cards}
          %td #{pl.season_red_cards}/#{pl.all_red_cards}
          %td
            -if pl.basic
              .li{style: "color: #00F", title: "Основной состав"} О
            -else
              .li{style: "color: #D00", title: "Запас"} З
          -if @current_user == @team.user
            %td
              / = link_to edit_player_in_team_path(pl), title: 'Редактировать игрока', class: 'btn btn-link' do
              / = inline_svg 'edit.svg', class: 'svg-picture white'
            %td
              = link_to sell_player_path(pl), method: :patch, data: { confirm: 'Продать игрока за полцены на рынок свободных агентов? Это действие отменить нельзя!' }, title: 'Продать игрока', class: 'btn btn-link' do
                = inline_svg 'usd.svg', class: 'svg-picture white'
                = inline_svg 'log-out.svg', class: 'svg-picture white'
              = link_to "/transfers/new?player_id=#{pl.id}", class: 'btn btn-link' do
                = inline_svg 'transfer.svg', class: 'svg-picture white'
          %td
            = link_to pl, class: 'btn btn-link', title: 'Обзор игрока' do
              = inline_svg 'street-view.svg', class: 'svg-picture white'
  %table.table.table-bordered
    %thead
      %tr{class: 'info'}
        %th.text-center
          Всего игроков:
          .text-danger
            = @team.squad_size
        %th.text-center
          Среднее
          %br
          по команде:
        %th.text-center
          Талант
          .text-danger
            = @team.averages[:av_tal]
        %th.text-center
          Возраст
          .text-danger
            = @team.averages[:av_age]
        %th.text-center
          Мастерство
          .text-danger
            = @team.averages[:av_skills]
        %th.text-center
          Цена
          .text-danger
            = @team.averages[:av_price]
  .btn-group
    -if @current_user == @team.user || @current_user.moderator?
      = link_to edit_team_path(@team), class: 'btn btn-danger' do
        = inline_svg 'edit-group.svg', class: 'svg-picture-medium white'
        Редактировать
    -if @current_user.moderator?
      = link_to teams_path, class: 'btn btn-warning' do
        = inline_svg 'reply.svg', class: 'svg-picture-medium white'
        Все команды
    -if @current_user == @team.user
      -unless @team.stadium
        = link_to 'Перейти к созданию стадиона', { action: :new, controller: :stadia }, class: 'btn btn-primary'
      -unless @team.club_base
        = link_to 'Перейти к созданию базы клуба', { action: :new, controller: :club_bases }, class: 'btn btn-warning'
