/ TODO добавить отображение morale, physical_condition

.text-center
  .page-header
    %h1= t ('views.teams.player_statistics')
    %br
    %h1
      = @team.title
      = image_tag @team.country.flag.url, title: @team.country.title
  %br

  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr{class: 'success'}
        %th.text-center
          №
        %th.text-center
          = inline_svg 'footballer.svg', class: 'svg-picture-table'
          Игрок
        %th.text-center
          = inline_svg 'flag.svg', class: 'svg-picture-table'
          Национальность
        %th.text-center{'colspan': 2}
          = inline_svg 'location.svg', class: 'svg-picture-table'
          Позиция
        %th.text-center
          = inline_svg 'level-up.svg', class: 'svg-picture-table'
          Талант
        %th.text-center
          = inline_svg 'history.svg', class: 'svg-picture-table'
          Возраст
        %th.text-center
          = inline_svg 'level.svg', class: 'svg-picture-table'
          Мастерство
        %th.text-center
          = inline_svg 'usd.svg', class: 'svg-picture-table'
          Цена
        %th.text-center{title: "Игры"}
          = inline_svg 'game.svg', class: 'svg-picture-medium'
        %th.text-center{title: "Пропущенные голы"}
          = inline_svg 'soccer-ball.svg', class: 'svg-picture-medium red'
        %th.text-center{title: "Забитые голы"}
          = inline_svg 'soccer-ball.svg', class: 'svg-picture-medium green'
        %th.text-center{title: "Голевые пасы"}
          = inline_svg 'goal-pass.svg', class: 'svg-picture-medium'
        %th.text-center{title: "Автоголы"}
          = inline_svg 'autogoal.svg', class: 'svg-picture-medium'
        %th.text-center{title: "Жёлтые карточки"}
          = inline_svg 'yellow-card.svg'
        %th.text-center{title: "Красные карточки"}
          = inline_svg 'red-card.svg'
        %th.text-center{title: "Основной состав/запас"} О/З
    %tbody
      - @players.each do |pl|
        -color = pl.basic ? '#CEF6CE' : '#F6D9D9'
        %tr.text-center{style: "background: #{color}"}
          %td
            %strong= pl.number
          %td
            = pl.name
            = inline_svg 'copyright.svg', class: 'svg-picture', title: 'Капитан' if pl.captain
            = inline_svg 'transfer.svg', class: 'svg-picture', title: 'Трансфер' if pl.status == 'transfer'
          %td= image_tag pl.country.flag.url, title: pl.country.title
          / TODO подумать как лучше отображать
          %td
            = pl.full_position_name
          %td{title: pl.real_position}
            = pl.real_position_name
          %td.js-talent= pl.talent
          %td.js-age= pl.age
          %td.js-skills= pl.skill_level
          %td.js-price= pl.price_to_currency
          %td #{pl.season_games}/#{pl.all_games}
          %td #{pl.season_conceded_goals}/#{pl.all_conceded_goals}
          %td #{pl.season_goals}/#{pl.all_goals}
          %td #{pl.season_passes}/#{pl.all_passes}
          %td #{pl.season_autogoals}/#{pl.all_autogoals}
          %td #{pl.season_yellow_cards}/#{pl.all_yellow_cards}
          %td #{pl.season_red_cards}/#{pl.all_red_cards}
          %td
            -if pl.basic
              .li{style: "color: #00F", title: "Основной состав"} О
            -else
              .li{style: "color: #D00", title: "Запас"} З
      %tr{class: 'info js-averages'}
        %th.text-center{'colspan': 2}
          Всего игроков:
          %span.text-danger#js-squad_size
            = @team.squad_size
        %th.text-center{'colspan': 3}
          Среднее по команде:
        %th.text-center.text-danger#js-average-talent
        %th.text-center.text-danger#js-average-age
        %th.text-center.text-danger#js-average-skills
        %th.text-center.text-danger#js-average-price
        %th{'colspan': 8}
      %tr{class: 'info'}
        %th{'colspan': 2}
        %th.text-center{'colspan': 3}
          Суммарно:
        %th{'colspan': 2}
        %th.text-center.text-danger#js-full-power
        %th.text-center.text-danger#js-full-cost
        %th{'colspan': 8}

  .btn-group
    -if @current_user == @team.user || @current_user.moderator?
      = link_to @current_user_team, class: 'btn btn-warning' do
        = inline_svg 'reply.svg', class: 'svg-picture-btn white'
        #{t 'buttons.back_to'} << #{@current_user_team.title} >>
    -if @current_user.moderator?
      = link_to teams_path, class: 'btn btn-warning' do
        = inline_svg 'reply.svg', class: 'svg-picture-btn white'
        = t('views.teams.all_teams')
    -if @current_user_team == @team
      -unless @team.stadium
        = link_to new_team_stadium_path(@team), class: 'btn btn-primary' do
          = inline_svg 'stadium.svg', class: 'svg-picture-btn white'
          = t('buttons.go_to_stadium_creating')
      -unless @team.club_base
        = link_to t('buttons.go_to_club_base_creating'), new_team_club_basis_path(@team), class: 'btn btn-warning'
