.page-header
  %h1
    = inline_svg 'transfer.svg', class: 'svg-picture-giant'
    История трансферов

.page-header
  %h3
    Вошли
    = inline_svg 'sub-on.svg', class: 'svg-picture-giant green'

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th.text-center
        = inline_svg 'footballer.svg', class: 'svg-picture-table'
        Игрок
      %th.text-center
        = inline_svg 'vendor.svg', class: 'svg-picture-table'
        Клуб-продавец
      %th.text-center
        = inline_svg 'location.svg', class: 'svg-picture-table'
        Позиция
      %th.text-center
        = inline_svg 'level-up.svg', class: 'svg-picture-table'
        Талант
      %th.text-center
        = inline_svg 'history.svg', class: 'svg-picture-table'
        Возраст
      %th.text-center
        = inline_svg 'level.svg', class: 'svg-picture-unstandart'
        Мастерство
      %th.text-center
        = inline_svg 'usd.svg', class: 'svg-picture-table'
        Стоимость
      %th.text-center
        = inline_svg 'question-circle.svg', class: 'svg-picture-table'
        Статус

  %tbody
    - @in.each do |transfer|
      %tr.text-center
        %td
          = link_to transfer.player.name, transfer.player, style: "color: #410405"
          = image_tag transfer.player.country.flag.url, title: transfer.player.country.title
        %td
          = link_to transfer.vendor.title, transfer.vendor, style: "color: #00F"
          = image_tag transfer.vendor.country.flag.url, title: transfer.vendor.country.title
        %td{title: transfer.player.position1}
          = transfer.player.full_position_name
        %td= transfer.player.talent
        %td= transfer.player.age
        %td= transfer.player.skill_level
        %td
          = transfer.cost_to_currency
        %td{style: "color: " + "#{transfer.statuses_in_colors}"}
          = t("transfer.status.#{transfer.status}")

.page-header
  %h3
    Вышли
    = inline_svg 'sub-off.svg', class: 'svg-picture-giant red'
    
%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th.text-center
        = inline_svg 'footballer.svg', class: 'svg-picture-table'
        Игрок
      %th.text-center
        = inline_svg 'vendor.svg', class: 'svg-picture-table'
        Клуб-покупатель
      %th.text-center
        = inline_svg 'location.svg', class: 'svg-picture-table'
        Позиция
      %th.text-center
        = inline_svg 'level-up.svg', class: 'svg-picture-table'
        Талант
      %th.text-center
        = inline_svg 'history.svg', class: 'svg-picture-table'
        Возраст
      %th.text-center
        = inline_svg 'level.svg', class: 'svg-picture-unstandart'
        Мастерство
      %th.text-center
        = inline_svg 'usd.svg', class: 'svg-picture-table'
        Стоимость
      %th.text-center
        = inline_svg 'question-circle.svg', class: 'svg-picture-table'
        Статус

  %tbody
    - @out.each do |transfer|
      %tr.text-center
        %td
          = link_to transfer.player.name, transfer.player, style: "color: #410405"
          = image_tag transfer.player.country.flag.url, title: transfer.player.country.title
        %td
          = link_to transfer.purchaser.title, transfer.purchaser, style: "color: #00F"
          = image_tag transfer.purchaser.country.flag.url, title: transfer.purchaser.country.title
        %td{title: transfer.player.position1}
          = transfer.player.full_position_name
        %td= transfer.player.talent
        %td= transfer.player.age
        %td= transfer.player.skill_level
        %td
          = transfer.cost_to_currency
        %td{style: "color: " + "#{transfer.statuses_in_colors}"}
          = t("transfer.status.#{transfer.status}")

.btn-group
  = link_to @current_user_team, class: 'btn btn-warning' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    Вернуться к << #{@current_user_team.title} >>
