.row
  .col-md-10.col-md-offset-1
    %table.table.table-bordered.table-condensed.table-hover
      %thead
        %tr
          %th{style: "vertical-align: middle"}
          - @league.sorted_teams.each_with_index do |team_in_league, index|
            %th.center{title: team_in_league.team.title}= index
      %tbody
        - @grid.each do |team_in_grid, games|
          %tr.center
            %td{style: "vertical-align: middle"}= team_in_grid
            - @league.sorted_teams.each do |team_in_league|
              - team = team_in_league.team
              -if team_in_grid == team.title
                %td{style: "vertical-align: middle"}= inline_svg_tag 'soccer-ball.svg', class: 'svg-picture-medium'
              - else
                %td
                  .floor_result= games[:home][team]
                  .bottom_result= games[:guest][team]