.center
  %h3
    #{I18n.t('leagues.participants')}: #{@league.teams_size}/24
  %h3
    #{League.human_attribute_name(:start_time)}: #{l @league.start_time}
  %h3
    #{League.human_attribute_name(:end_time)}: #{l @league.end_time}
-if @league.teams_size < 4
  .progress.narrow-progressbar
    .progress-bar.progress-bar-danger.progress-bar-striped{ role: 'progressbar', 'aria-valuenow' => "#{@league.teams_size}", 'aria-valuemin'=>'0', 'aria-valuemax' => '24', style: "width: #{@league.percentage}%" }
-else
  .progress.narrow-progress-bar
    .progress-bar.progress-bar-success.progress-bar-striped{ style: "width: 17%" }
      %span.sr-only
    .progress-bar.progress-bar-warning.progress-bar-striped{ role: "progressbar", 'aria-valuenow' => "#{@league.teams_size - 4}", 'aria-valuemin'=>'0', 'aria-valuemax' => '20', style: "width: #{@league.percentage - 17}%" }
      %span.sr-only
.center
  %h3 #{I18n.t('leagues.participants_list')}:
  %ul.list-group.narrow-list-group
    -@league.team_leagues.each_with_index do |team_league, i|
      .li.list-group-item
        #{i+1}. #{link_to team_league.team.title, team_league.team}
