= form_for @player_in_team do |f|
  -if params[:name]
    =f.hidden_field :name, value: params[:name]
  -else
    =f.hidden_field :name, value: params[:player_in_team][:name]
  =error_messages_for(@player_in_team)

  .row
    .col-md-2
      .form-group
        = f.label :number
        = f.number_field :number, class: "form-control", min: 1, max: 99
    -#.col-md-2
    -#  .form-group
    -#    = f.label :special_skill2
    -#    = f.text_field :special_skill2
    .col-md-2
      .form-group
        = f.label "Роль в команде"
        = f.select :basic, {"Основной состав"=>true, "Запас"=>false}, class: "form-control"
  .actions
    .btn-group
      = f.submit 'Купить', class: "btn btn-warning"
      =link_to 'Отменить', players_path, class: "btn btn-danger"
