.page-header
  %h1 Редактирование номера игрока

= render 'form'

%br
-t=Team.find(@current_user.team_id)
.btn-group
  = link_to @player_in_team, class: 'btn btn-warning' do
    = inline_svg 'footballer.svg', class: 'svg-picture'
    #{@player_in_team.name}
  -if t
    = link_to t, class: 'btn btn-primary' do
      = inline_svg 'group.svg', class: 'svg-picture'
      Моя команда
