-if params[:name]
  -pl=Player.where(name: params[:name]).first
-else
  -pl=Player.where(name: params[:player_in_team][:name]).first
-c=Country.find(pl.country_id)
.page-header
  %h1 Покупка игрока

.row.text-danger.text-center
  .col-md-4
    .list-group
      %h4.list-group-item.active{style: "color: #00F"}
        .fa.fa-male
        =pl.name
        =image_tag c.flag.url, title: "#{c.title}"
        -max=5
        .row{style: "color: #FFD700"}
          -cel,ost=pl.level_define/2,pl.level_define%2
          -cel.times do
            .fa.fa-star
          -if pl.level_define%2!=0
            .fa.fa-star-half-o
          -(max-cel-ost).times do
            .fa.fa-star-o
      .list-group-item
        .fa.fa-bookmark
        -if !pl.position2.blank? && pl.position1!='Gk'
          Позиция: #{pl.position1} / #{pl.position2}
        -else
          Позиция: #{pl.position1}
      .list-group-item
        .fa.fa-level-up
        Талант: #{pl.talent}
      .list-group-item
        .fa.fa-history
        Возраст: #{pl.age} #{Russian.p(pl.age, "год", "года", "лет")}
      .list-group-item
        .fa.fa-line-chart
        Мастерство: #{pl.skill_level}
      .list-group-item
        .fa.fa-money
        -a,count,i="#{pl.price}".reverse,0,0
        -while a[i]!='.'
          -count+=1;i+=1
        Цена: #{number_to_currency(pl.price, locale: :en, precision: count)}
%br
= render 'form'
%br
.btn-group
  = link_to players_path, class: 'btn btn-info' do
    =fa_icon "male"
    =fa_icon "male"
    Все игроки
  -t=Team.find(@current_user.team_id)
  -if t
    = link_to t, class: 'btn btn-primary' do
      =fa_icon "users"
      Моя команда
