-if params[:name]
  -pl = Player.where(name: params[:name]).first
-else
  -pl = Player.where(name: params[:player_in_team][:name]).first
-c = Country.find(pl.country_id)
.page-header
  %h1 Покупка игрока

.row.text-danger.text-center
  .col-md-4
    .list-group
      %h4.list-group-item.active{style: "color: #00F"}
        .fa.fa-male
        = pl.name
        = image_tag c.flag.url, title: "#{c.title}"
        .row{style: "color: #FFD700"}
          -quality = @player.quality
          -quality[0].times do
            = fa_icon 'star'
          -if quality[1] == 1
            = fa_icon 'star-half-o'
          -quality[2].times do
            = fa_icon 'star-o'
      .list-group-item
        .fa.fa-bookmark
        = pl.full_position_name
      .list-group-item
        .fa.fa-level-up
        Талант: #{pl.talent}
      .list-group-item
        .fa.fa-history
        Возраст: #{pl.age} #{Russian.p(pl.age, "год", "года", "лет")}
      .list-group-item
        .fa.fa-line-chart
        Мастерство: #{pl.skill_level}
      .list-group-item
        .fa.fa-money
        Цена: #{pl.price_to_currency}
%br
= render 'form'
%br
.btn-group
  = link_to players_path, class: 'btn btn-info' do
    = fa_icon "male"
    = fa_icon "male"
    Все игроки
  -if @current_user_team
    = link_to @current_user_team, class: 'btn btn-primary' do
      = fa_icon "users"
      Моя команда
