-pl=@player_in_team
-c=Country.find(pl.country_id)
-t=Team.find(pl.team_id)
.page-header
  %h2
    =pl.name
    =image_tag c.flag.url, title: "#{c.title}"
    =fa_icon 'copyright', title: 'Капитан' if pl.captain
  =link_to "[#{t.title}]", t, class: 'btn btn-link', style: "color: #000"
.row.text-danger.text-center
  .col-md-4
    .list-group
      %h3.list-group-item.active{style: "color: #00F"}
        .fa.fa-male
        =pl.name
        =image_tag c.flag.url, title: "#{c.title}"
        -max=5
        .row{style: "color: #FFD700"}
          -cel,ost=pl.level_define/2,pl.level_define%2
          -cel.times do
            .fa.fa-star
          -if pl.level_define%2!=0
            .fa.fa-star-half-o
          -(max-cel-ost).times do
            .fa.fa-star-o
        ="№#{pl.number}"
      .list-group-item{title: "Позиция"}
        .fa.fa-bookmark
        -str="#{pl.position1}"
        -if !pl.position2.blank?
          -str+=" / #{pl.position2}"
        =str
      .list-group-item{title: "Талант"}
        .fa.fa-level-up
        #{pl.talent}
      .list-group-item{title: "Возраст"}
        .fa.fa-history
        #{pl.age} #{Russian.p(pl.age, "год", "года", "лет")}
      .list-group-item{title: "Мастерство"}
        .fa.fa-line-chart
        #{pl.skill_level}
      .list-group-item{title: "Цена"}
        .fa.fa-money
        -a,count,i="#{pl.price}".reverse,0,0
        -while a[i]!='.'
          -count+=1;i+=1
        #{number_to_currency(pl.price, locale: :en, precision: count)}
      .list-group-item{title: "Специальные умения"}
        .fa.fa-flash
        -str=""
        -if pl.special_skill1
          -str=str+pl.special_skill1+"-#{pl.num_sp_s1}"
          -str=str+" / "+pl.special_skill2+"-#{pl.num_sp_s2}" if pl.special_skill2
          -str=str+" / "+pl.special_skill3+"-#{pl.num_sp_s3}" if pl.special_skill3
          #{str}
        -else
          Спец. умений нет
      .list-group-item
        Готовность к игре:
        -if pl.can_play
          %strong.text-success Да (#{pl.status})
        -else
          %strong.text-danger Нет (#{pl.status})
        -if pl.games_missed!=0
          Выбыл на #{pl.games_missed} #{Russian.p(pl.injured,"игру","игры","игр")}. Причина:
          -if pl.injured!=0
            =fa_icon 'plus-square', style: "color: #F00"
            =pl.injured
          -if pl.status=='penalty'
            =fa_icon "square",style: "color: #FF0" if pl.games_missed==1
            =fa_icon "square",style: "color: #D00" if pl.games_missed==2
        %br
        -if pl.basic
          .li{style:"color: #00F"} [Основной состав]
        -else
          .li{style:"color: #D00"} [Запас]


  .col-md-2
    .list-group
      %h4.list-group-item.active{style: "color: #00F", title: "Статистика"}
        .glyphicon.glyphicon-stats
      .list-group-item{title: "Игры"}
        .fa.fa-exclamation-triangle
      -if pl.position1=='Gk'
        .list-group-item{title: "Пропущенные голы"}
          .fa.fa-minus
          .fa.fa-futbol-o
      .list-group-item{title: "Забитые голы"}
        .fa.fa-plus
        .fa.fa-futbol-o
      .list-group-item{title: "Голевые пасы"}
        .fa.fa-share
        .fa.fa-futbol-o
      .list-group-item{title: "Автоголы"}
        .fa.fa-frown-o
        .fa.fa-futbol-o
      .list-group-item{style: "color: #FF0",title: "Жёлтые карточки"}
        .fa.fa-square
      .list-group-item{style: "color: #D00",title: "Красные карточки"}
        .fa.fa-square
  .col-md-2
    .list-group.h4
      .list-group-item.active{style: "color: #00F",title: "Текущий сезон"}
        .fa.fa-clock-o
      .list-group-item
        =pl.season_games
      -if pl.position1=='Gk'
        .list-group-item
          =pl.season_conceded_goals
      .list-group-item
        =pl.season_goals
      .list-group-item
        =pl.season_passes
      .list-group-item
        =pl.season_autogoals
      .list-group-item
        =pl.season_yellow_cards
      .list-group-item
        =pl.season_red_cards
  .col-md-2
    .list-group.h4
      .list-group-item.active{style: "color: #00F",title: "Карьера"}
        .fa.fa-history
      .list-group-item
        =pl.all_games
      -if pl.position1=='Gk'
        .list-group-item
          =pl.all_conceded_goals
      .list-group-item
        =pl.all_goals
      .list-group-item
        =pl.all_passes
      .list-group-item
        =pl.all_autogoals
      .list-group-item
        =pl.all_yellow_cards
      .list-group-item
        =pl.all_red_cards

-if @current_user.moderator?
  = link_to edit_player_in_team_path(@player_in_team), class: 'btn btn-danger' do
    =fa_icon "wrench"
    Редактировать
= link_to t, class: 'btn btn-info' do
  =fa_icon "users"
  Моя команда
