.page-header
  %h1= @club_base.title
%p
  %b Владелец:
  = link_to @team.title, @team, style: "color: #00F"
%p
  %b Уровень:
  = @club_base.level
  -if @club_base.level < 5
    = link_to '+', level_up_club_basis_path(@club_base), method: :patch, class: 'btn btn-default btn-sm'
%p
  %b Вместимость:
  = @club_base.capacity
%p
  %b Тренировочные поля:
  = @club_base.training_fields
  -if @club_base.training_fields < 5 && (@current_user == @team.user || @current_user.administrator?)
    = link_to '+', training_fields_up_club_basis_path(@club_base), method: :patch, class: 'btn btn-default btn-sm'
%p
  %b Коэффициент повышения опыта:
  = @club_base.experience_up

-if @current_user == @user || @current_user.moderator?
  = link_to edit_club_basis_path(@club_base), class: 'btn btn-danger' do
    = fa_icon "edit"
    Редактировать
= link_to @team, class: 'btn btn-info' do
  = fa_icon "users"
  = @team.title
