= form_for @user do |f|
  =error_messages_for(@user)
  Поля, обязательные к заполнению. отмечены звёздочкой.
  .row
    .form-group.col-md-3
      .fa.fa-user.li
      = f.label :login
      *
      = f.text_field :login, class: 'form-control'
  .row
    .form-group.col-md-3
      .fa.fa-envelope.li
      Указывайте правильный email, на него будет выслано письмо со ссылкой для активации.
      = f.label :email
      *
      = f.text_field :email, class: 'form-control'
  .row
    .form-group.col-md-3
      .fa.fa-key.li
      = f.label :password
      *
      = f.password_field :password, class: 'form-control'
  .row
    .form-group.col-md-3
      .fa.fa-key
      .fa.fa-key.li
      = f.label :password_confirmation
      *
      = f.password_field :password_confirmation, class: 'form-control'
  .row
    .form-group.col-md-3
      .fa.fa-picture-o
      = f.label :avatar
      = f.file_field :avatar
  .row
    .form-group.col-md-3
      .fa.fa-home.li
      = label_tag('user[country_id]', 'Страна')
      *
      = select_country('user[country_id]', @user.country_id)
  .row
    .form-group
      .fa.fa-home.li
      Футболисты Вашей команды будут иметь гражданство этой страны
      = label_tag('user[team_country_id]', 'Страна')
      *
      = select_country('user[team_country_id]', params[:user].present? ? params[:user][:team_country_id] : nil)
  .row
    .form-group.col-md-3
      .fa.fa-venus-mars.li
      = f.label :sex
      = f.select :sex, ['','м','ж'], class: 'form-control'
  .row
    .form-group.col-md-3
      .fa.fa-birthday-cake.li
      = f.label :birthday
      = f.date_select :birthday, class: 'form-control', start_year: Date.today.year, end_year: 1930, prompt: { day: 'День', month: 'Месяц', year: 'Год' }
  -if @current_user.try(:administrator?)
    .row
      .form-group
        = f.label :role
        = f.select :role, User.roles.map.with_index{ |name,i| [name, i] }, {}, class: 'form-control'
  .actions
    -if @user.blank?
      = f.submit 'Зарегистрироваться', class: 'btn btn-primary'
    -else
      = f.submit 'Сохранить', class: 'btn btn-primary'
