.page-header
  %h1 Пользователи

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th.text-center
        = inline_svg 'person-circle.svg', class: 'svg-picture'
        Логин
      %th.text-center
        = inline_svg 'group.svg', class: 'svg-picture'
        Команда
      %th.text-center
        = inline_svg 'picture.svg', class: 'svg-picture'
        Аватар
      %th.text-center
        = inline_svg 'home.svg', class: 'svg-picture'
        Страна
      %th.text-center
        = inline_svg 'sex.svg', class: 'svg-picture'
        Пол
      %th.text-center
        = inline_svg 'birthday.svg', class: 'svg-picture'
        Дата рождения
      %th.text-center
        = inline_svg 'email.svg', class: 'svg-picture'
        Эл. почта
      -if @current_user.moderator?
        %th.text-center
          = inline_svg 'street-view.svg', class: 'svg-picture'
          Роль
        %th
        %th
      %th

  %tbody
    - @users.each do |user|
      %tr.text-center
        %td= user.login
        %td
          -if user.team
            =link_to user.team.title, user.team, style: "color: #00F"
          -else
            .text-danger.li Не создана!
        %td
          -if user.avatar.blank?
            .text-danger.li Аватар не загружен!
          -else
            = image_tag user.avatar.url(:thumb)
        %td= user.country.title
        %td= user.sex_name
        %td
          -if user.birthday
            = user.birthday
          -else
            .text-danger.li Не выбрано!
        %td= user.email
        %td= user.role_name
        %td
          = link_to edit_user_path(user), class: 'btn btn-link' do
            = inline_svg 'edit.svg', class: 'svg-picture-btn'
        %td
          = link_to user, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
            = inline_svg 'trash.svg', class: 'svg-picture-btn'
        %td
          = link_to user, class: 'btn btn-link' do
            = inline_svg 'arrow-circle-o-right.svg', class: 'svg-picture-btn'

%br
= paginate @users
