.page-header
  %h1 Регистрация
= form_for @user do |f|
  = error_messages_for(@user)
  -#TODO допилить вёрстку
  .help-block
    .fa.fa-info-circle.li
      = t('info-blocks.registration.whats_asterisk')
  %ul.nav.nav-tabs
    %li.active
      %a{ "data-toggle" => "tab", href: "#user_info" }= t('info-blocks.registration.user_info')
    %li
      %a{ "data-toggle" => "tab", href: "#team_info" }= t('info-blocks.registration.team_info')
  / Tab panes
  .tab-content
    #user_info.tab-pane.active
      .row
        .form-group.col-md-3
          .fa.fa-user.li
          -#TODO jquery check login auto
          = f.label :login
          *
          = f.text_field :login, class: 'form-control'
      .row
        .form-group.col-md-3
          .fa.fa-envelope.li
          = f.label :email
          *
          = f.text_field :email, class: 'form-control'
        .form-group.col-md-3
          .help-block
            .fa.fa-info-circle.li
            = t('info-blocks.registration.right_email')
      .row
        .form-group.col-md-3
          .fa.fa-key.li
          -#TODO bootstrap strength meter
          = f.label :password
          *
          = f.password_field :password, class: 'form-control'
      .row
        .form-group.col-md-3
          .fa.fa-key
          .fa.fa-key.li
          = f.label :password_confirmation
          *
          = f.password_field :password_confirmation, class: 'form-control'
      .row
        .form-group.col-md-3
          .fa.fa-picture-o
          = f.label :avatar
          = f.file_field :avatar
      .row
        .form-group.col-md-3
          .fa.fa-home.li
          = f.label :country
          *
          = select_country('user[country_id]', @user.country_id)
        .form-group.col-md-3
          .help-block
            %br
            .fa.fa-info-circle.li
            = t('info-blocks.registration.your_country')
      .row
        .form-group.col-md-3
          .fa.fa-venus-mars.li
          -#TODO м ж - integer значения + починить
          = f.label :sex
          = select_tag('user[sex]', options_for_select(User.sexes.keys.to_a, @user.sex), class: 'selectpicker')
      .row
        .form-group.col-md-6
          .fa.fa-birthday-cake.li
          = f.label :birthday
          = f.date_select :birthday, class: 'selectpicker', start_year: Date.today.year, end_year: 1930, prompt: { day: t('prompt.day'), month: t('prompt.month'), year: t('prompt.year') }
      -if @current_user.try(:administrator?)
        .row
          .form-group
            = f.label :role
            = f.select :role, User.roles.map.with_index { |name, i| [name, i] }, {}, class: 'form-control'
      .help-block
        .fa.fa-info-circle.li
          = t('info-blocks.registration.attention')
    #team_info.tab-pane
      .row
        .form-group.col-md-3
          .fa.fa-pencil.li
          -#TODO jquery check title auto
          = label_tag Team.human_attribute_name(:title)
          *
          = text_field_tag 'team[title]', params[:team].try(:[], :title), class: 'form-control'
      .row
        .form-group.col-md-3
          .fa.fa-flag.li
          = label_tag Team.human_attribute_name(:country)
          *
          = select_country('team[country_id]', params[:team].try(:[], :country_id))
        %br
        .form-group.col-md-3
          .help-block
            .fa.fa-info-circle.li
            = t('info-blocks.registration.team_country')

  -#TODO разработать правила участия и кнопку CONFIRM
  .actions
    -if @user.blank?
      = f.submit t('buttons.sign_up'), class: 'btn btn-primary'
    -else
      = f.submit t('buttons.save'), class: 'btn btn-primary'
