.page-header
  %h1= @user.login
.container
  .row
    .col-md-4
      %p
        %b
        -if @user.avatar.blank?
          = inline_svg_tag 'no-avatar.svg', class: 'svg-no-avatar'
        -else
          = image_tag @user.avatar.url(:medium), class: 'avatar-css'
    .col-md-1
    .col-md-5
      -if @user.team
        %p
          %b Команда:
          = link_to @user.team.title, @user.team, style: "color: #00F"
          = image_tag @user.team.country.flag.url, title: @user.team.country.i18n_title
      %p
        %b Страна:
        = link_to @country.i18n_title, @country, class: 'btn btn-link', style: "color: #00688B"
        = image_tag @country.flag.url, title: @country.i18n_title
      %p
        %b Пол:
        = @user.sex_name
      %p
        %b День рождения:
        -if @user.birthday
          = l @user.birthday
        -else
          .text-danger.li Не выбрано!
      %p
        %b Адрес эл. почты:
        = @user.email
      %p
        %b Статус аккаунта:
        -if @user.confirmed_at
          .text-success.li Подтверждён
        -else
          .text-danger.li Не подтверждён
      -if @current_user == @user || @current_user.moderator?
        %p
          %b Роль:
          = @user.role_name
    .col-md-2

-if @current_user == @user || @current_user.moderator?
  = link_to edit_user_path(@user), class: 'btn btn-danger' do
    = inline_svg_tag 'edit.svg', class: 'svg-picture-btn white'
    %span.centralize
      Редактировать
= link_to users_path, class: 'btn btn-info' do
  = inline_svg_tag 'group.svg', class: 'svg-picture-btn white'
  %span.centralize
    Все пользователи
-if @user.team
  = link_to @user.team, class: 'btn btn-primary' do
    = inline_svg_tag 'chevron-circle-right.svg', class: 'svg-picture-btn white'
    %span.centralize
      К команде << #{@user.team.title} >>
-else
  = link_to @user, class: 'btn btn-warning disabled' do
    = inline_svg_tag 'chevron-circle-right.svg', class: 'svg-picture-btn white'
    Команда не создана!
