.page-header
  %h1= @user.login
-if @user.team
  %p
    %b Команда:
    = link_to @user.team.title, @user.team, style: "color: #00F"
%p
  %b Аватар:
%p
  %b
  -if @user.avatar.blank?
    .text-danger.li Аватар не загружен!
  -else
    = image_tag @user.avatar.url(:medium)
%p
  %b Страна:
  = link_to @country.title, @country, class: 'btn btn-link', style: "color: #00688B"
  = image_tag @country.flag.url
%p
  %b Пол:
  = @user.sex
%p
  %b День рождения:
  -if @user.birthday
    = @user.birthday
  -else
    .text-danger.li Не выбрано!
%p
  %b Адрес эл. почты:
  = @user.email
%p
  %b Статус аккаунта:
  -if @user.confirmed_at.present?
    .text-success.li Подтверждён
  -else
    .text-danger.li Не подтверждён
-if @current_user == @user || @current_user.moderator?
  %p
    %b Роль:
    = @user.role
  = link_to edit_user_path(@user), class: 'btn btn-danger' do
    = fa_icon "edit"
    Редактировать
= link_to users_path, class: 'btn btn-info' do
  = fa_icon "users"
  Все пользователи
-if @user.team
  = link_to @user.team, class: 'btn btn-primary' do
    = fa_icon "chevron-circle-right"
    К команде << #{@user.team.title} >>
-else
  = link_to @user, class: 'btn btn-warning disabled' do
    = fa_icon "chevron-circle-right"
    Команда не создана!
