.page-header
  %h1= @user.login
.container
  .row
    .col-md-6
      -if @user.team
        %p
          %b Команда:
          = link_to @user.team.title, @user.team, style: "color: #00F"
      %p
        %b Страна:
        = link_to @country.title, @country, class: 'btn btn-link', style: "color: #00688B"
        = image_tag @country.flag.url
      %p
        %b Пол:
        = t("user.sex.#{@user.sex}")
      %p
        %b День рождения:
        -if @user.birthday
          = l @user.birthday
        -else
          .text-danger.li Не выбрано!
      %p
        %b Адрес эл. почты:
        = @user.email
      %p
        %b Статус аккаунта:
        -if @user.confirmed_at.present?
          .text-success.li Подтверждён
        -else
          .text-danger.li Не подтверждён
      -if @current_user == @user || @current_user.moderator?
        %p
          %b Роль:
          = @user.role
    .col-md-6
      %p
        %b Аватар:
      %p
        %b
        -if @user.avatar.blank?
          = inline_svg 'no-avatar.svg', class: 'svg-no-avatar'
        -else
          = image_tag @user.avatar.url(:medium)

-if @current_user == @user || @current_user.moderator?
  = link_to edit_user_path(@user), class: 'btn btn-danger' do
    = inline_svg 'edit.svg', class: 'svg-picture-btn white'
    %span.centralize
      Редактировать
= link_to users_path, class: 'btn btn-info' do
  = inline_svg 'group.svg', class: 'svg-picture-btn white'
  %span.centralize
    Все пользователи
-if @user.team
  = link_to @user.team, class: 'btn btn-primary' do
    = inline_svg 'chevron-circle-right.svg', class: 'svg-picture-btn white'
    %span.centralize
      К команде << #{@user.team.title} >>
-else
  = link_to @user, class: 'btn btn-warning disabled' do
    = inline_svg 'chevron-circle-right.svg', class: 'svg-picture-btn white'
    Команда не создана!
