= form_for [@team, @sponsor] do |f|
  = error_messages_for(@sponsor)
  .row
    .col-md-3
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
  .row
    .col-md-3
      .form-group
        = f.label :specialization
        = select_specialization('sponsor[specialization]', @sponsor.specialization)
  .row
    .col-md-3
      .form-group
        = f.label :loyalty_factor
        = f.text_field :loyalty_factor, class: 'form-control'
  .row
    .col-md-3
      .form-group
        = f.label :cost_of_full_stake
        .input-group
          = f.text_field :cost_of_full_stake, class: 'form-control'
          %span.input-group-addon
            = inline_svg_tag 'usd.svg', class: 'svg-picture'

  .actions
    = f.submit t('buttons.save'), class: 'btn btn-primary'
