%h1 Редактирование спонсора

= render 'form'
%br
.btn-group
  = link_to @sponsor, class: 'btn btn-warning' do
    = fa_icon "reply"
    #{@sponsor.title}
  = link_to sponsors_path, class: 'btn btn-info' do
    = fa_icon "list"
    Все спонсоры
