-if @sponsor.team_id
  -team=Team.find(@sponsor.team_id)
-else
  -team=nil
%p
  %b Название:
  = @sponsor.title
%p
  %b Поддержка команды:
  -if team
    =link_to team.title, team, style: "color: #00F"
  -else
    .text-danger Спонсор свободен!
%p
  %b Специализация:
  = @sponsor.specialization
%p
  %b Коэффициент лояльности:
  = @sponsor.loyalty_factor
%p
  %b Стоимость полного пакета акций:
  = number_to_currency(@sponsor.cost_of_full_stake, locale: :en)
%p
  %b Призовые за победу:
  = number_to_currency(@sponsor.win_prize, locale: :en)
%p
  %b Призовые за ничью:
  = number_to_currency(@sponsor.draw_prize, locale: :en)
%p
  %b Призовые за поражение:
  = number_to_currency(@sponsor.lost_prize, locale: :en)

.btn-group
  = link_to sponsors_path, class: 'btn btn-warning' do
    =fa_icon "reply"
    Все спонсоры
  -if team
    = link_to team, class: 'btn btn-info' do
      =fa_icon "users"
      К команде << #{team.title} >>
  -if @current_user.moderator?
    = link_to edit_sponsor_path(@sponsor), class: 'btn btn-danger' do
      =fa_icon "edit"
      Редактировать