.text-center
  .page-header
    %h1= @sponsor.title
    = link_to "[#{@sponsor.team.title}]", @sponsor.team, style: "color: #00F"
  %p
    %b Специализация:
    = t("specialization.#{@sponsor.specialization}")
  %p
    %b Коэффициент лояльности:
    = @sponsor.loyalty_factor
    -if @sponsor.loyalty_factor > 5.0
      = fa_icon "smile-o lg", style: "color: #00A400"
    -elsif @sponsor.loyalty_factor > 0.5
      = fa_icon "meh-o lg", style: "color: #CDAD00"
    -else
      = fa_icon "frown-o lg", style: "color: #B22222"
  %p
    %b Стоимость полного пакета акций:
    = number_to_currency(@sponsor.cost_of_full_stake, locale: :en)
  %p
    %b Призовые за победу:
    = number_to_currency(@sponsor.win_prize, locale: :en)
  %p
    %b Призовые за ничью:
    = number_to_currency(@sponsor.draw_prize, locale: :en)
  %p
    %b Призовые за поражение:
    = number_to_currency(@sponsor.lost_prize, locale: :en)

  .btn-group
    = link_to @sponsor.team, class: 'btn btn-info' do
      = fa_icon "users"
      К команде << #{@sponsor.team.title} >>
    -if @current_user.moderator?
      = link_to edit_sponsor_path(@sponsor), class: 'btn btn-danger' do
        = fa_icon "edit"
        Редактировать