-if @players.blank?
  %h2.text-danger
    По Вашему запросу игроки не найдены!
-else
  %table.table-responsive.table-bordered.table-hover
    %thead
      %tr
        %th.text-center
          = inline_svg 'footballer.svg', class: 'svg-picture-table'
          Игрок
        %th.text-center
          = inline_svg 'flag.svg', class: 'svg-picture-table'
          Национальность
        %th.text-center
          = inline_svg 'location.svg', class: 'svg-picture-table'
          Позиция
        %th.text-center
          = inline_svg 'level-up.svg', class: 'svg-picture-table'
          Талант
        %th.text-center
          = inline_svg 'history.svg', class: 'svg-picture-table'
          Возраст
        %th.text-center
          = inline_svg 'level.svg', class: 'svg-picture-table'
          Мастерство
        %th.text-center
          = inline_svg 'usd.svg', class: 'svg-picture-table'
          Цена
        %th.text-center
          = inline_svg 'star.svg', class: 'svg-picture-table'
          Качество игрока
        -#%th
        -#%th
        -#-if @current_user.role!=0
        -#  %th
        -#  %th
        
    %tbody
      - @players.each do |player|
        %tr.text-center
          %td= player.name
          %td= image_tag player.country.flag.url, title: player.country.title
          %td= player.full_position_name
          %td= player.talent
          %td= player.age
          %td= player.skill_level
          %td= player.price_to_currency
          %td
            -quality = player.quality
            -quality[0].times do
              = inline_svg 'star.svg', class: 'svg-picture'
            -if quality[1] == 1
              = inline_svg 'star-half.svg', class: 'svg-picture'
            -quality[2].times do
              = inline_svg 'star-o.svg', class: 'svg-picture'
          -if @current_user.moderator?
            %td
              = link_to edit_player_path(player), class: 'btn btn-link' do
                = inline_svg 'edit.svg', class: 'svg-picture-btn white'
            %td
              = link_to player, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
                = inline_svg 'trash.svg', class: 'svg-picture-btn white'
          %td
            = link_to player, class: 'btn btn-link' do
              = inline_svg 'street-view.svg', class: 'svg-picture-btn'
          %td
            -if @current_user_team
              = link_to buy_processing_player_path(player), class: 'btn btn-default' do
                = inline_svg 'share-square-o.svg', class: 'svg-picture-btn'
                = t('buttons.buy')
            -else
              .text-danger Покупка не доступна
  %br

  -if @current_user.moderator?
    = link_to new_player_path, class: 'btn btn-default' do
      = inline_svg 'plus-circle.svg', class: 'svg-picture-btn white'
      %span.centralize
        Новый игрок

  %br
  = paginate @players
