/ TODO добавить отображение real_position, efficienty, morale, physical_condition

-c = @player.country
-t = @player.team
.page-header
  %h2
    = @player.name
    = fa_icon "copyright", title: 'Капитан' if @player.captain
    = image_tag c.flag.url, title: c.title
  = link_to "[#{t.title}]", t, class: 'btn btn-link', style: "color: #000"
  = image_tag t.country.flag.url, title: t.country.title
.row.text-danger.text-center
  .col-md-4
    .list-group
      %h3.list-group-item.active{style: "color: #00F"}
        = inline_svg 'footballer.svg', class: 'svg-picture'
        = @player.name
        = image_tag c.flag.url, title: c.title
        .row{style: "color: #FFD700"}
          -quality = @player.quality
          -quality[0].times do
            = inline_svg 'star.svg', class: 'svg-picture'
          -if quality[1] == 1
            = inline_svg 'star-half.svg', class: 'svg-picture'
          -quality[2].times do
            = inline_svg 'star-o.svg', class: 'svg-picture'
        = "№#{@player.number}"
      .list-group-item{title: "Позиция"}
        .div
          = inline_svg 'location.svg', class: 'svg-picture'
          Номинальная позиция:
          = @player.full_position_name
        .div
          = inline_svg 'location.svg', class: 'svg-picture'
          Реальная позиция:
          = @player.real_position_name
        .div
          .fa.fa-bookmark
          Эффективность:
          = "#{(@player.efficienty * 100).to_i}%"
      .list-group-item{title: "Талант"}
        = inline_svg 'level-up.svg', class: 'svg-picture'
        = @player.talent
      .list-group-item{title: "Возраст"}
        = inline_svg 'history.svg', class: 'svg-picture'
        #{@player.age} #{Russian.p(@player.age, "год", "года", "лет")}
      .list-group-item{title: "Мастерство"}
        = inline_svg 'level.svg', class: 'svg-picture'
        = @player.skill_level
      .list-group-item{title: "Цена"}
        = inline_svg 'money.svg', class: 'svg-picture'
        = @player.price_to_currency
      .list-group-item{title: "Специальные умения"}
        .fa.fa-flash
        = @player.show_special_skills
      .list-group-item
        Готовность к игре:
        -if @player.can_play
          %strong.text-success Да (#{@player.status})
        -else
          %strong.text-danger Нет (#{@player.status})
        -if @player.games_missed != 0
          Выбыл на #{@player.games_missed} #{Russian.p(@player.injured,"игру","игры","игр")}. Причина:
          -if @player.injured != 0
            = fa_icon "plus-square", style: "color: #F00"
            = @player.injured
          -if @player.status == 'penalty'
            = fa_icon "square", style: "color: #FF0" if @player.games_missed == 1
            = fa_icon "square", style: "color: #D00" if @player.games_missed == 2
        %br
        -if @player.basic
          .li{style:"color: #00F"} [Основной состав]
        -else
          .li{style:"color: #D00"} [Запас]

  .col-md-1
  .col-md-2
    %br
    %br
    .list-group
      %h4.list-group-item.active{style: "color: #00F", title: "Статистика"}
        = inline_svg 'field-vertical.svg', class: 'svg-picture-medium'
      .list-group-item{title: "Игры"}
        .fa.fa-exclamation-triangle
      -if @player.goalkeeper?
        .list-group-item{title: "Пропущенные голы"}
          .fa-stack
            .fa.fa-futbol-o.fa-stack-2x
            .fa-stack-1x.fa_icon_addition.fa_symbol_bold
              П
      .list-group-item{title: "Забитые голы"}
        .fa-stack
          .fa.fa-futbol-o.fa-stack-2x
          .fa.fa-plus.fa-stack-1x.fa_icon_addition
      .list-group-item{title: "Голевые пасы"}
        .fa-stack
          .fa.fa-futbol-o.fa-stack-2x
          .fa.fa-share.fa-stack-1x.fa_icon_addition
      .list-group-item{title: "Автоголы"}
        .fa-stack
          .fa.fa-futbol-o.fa-stack-2x
          .fa-stack-1x.fa_icon_addition.fa_symbol_bold
            А
      .list-group-item{style: "color: #FF0", title: "Жёлтые карточки"}
        .fa.fa-square
      .list-group-item{style: "color: #D00", title: "Красные карточки"}
        .fa.fa-square
  .col-md-2
    %br
    %br
    .list-group.h4
      .list-group-item.active{style: "color: #00F", title: "Текущий сезон"}
        .fa.fa-clock-o
      .list-group-item
        = @player.season_games
      -if @player.goalkeeper?
        .list-group-item
          = @player.season_conceded_goals
      .list-group-item
        = @player.season_goals
      .list-group-item
        = @player.season_passes
      .list-group-item
        = @player.season_autogoals
      .list-group-item
        = @player.season_yellow_cards
      .list-group-item
        = @player.season_red_cards
  .col-md-2
    %br
    %br
    .list-group.h4
      .list-group-item.active{style: "color: #00F",title: "Карьера"}
        = inline_svg 'history.svg', class: 'svg-picture-medium'
      .list-group-item
        = @player.all_games
      -if @player.goalkeeper?
        .list-group-item
          = @player.all_conceded_goals
      .list-group-item
        = @player.all_goals
      .list-group-item
        = @player.all_passes
      .list-group-item
        = @player.all_autogoals
      .list-group-item
        = @player.all_yellow_cards
      .list-group-item
        = @player.all_red_cards

.btn-group
  = link_to t, class: 'btn btn-info' do
    = inline_svg 'group.svg', class: 'svg-picture white'
    = t.title
  -if @current_user_team == t
    / = link_to edit_player_in_team_path(@player_in_team), class: 'btn btn-danger' do
    /  = inline_svg 'edit.svg', class: 'svg-picture white'
    /  = t('buttons.edit')
    = link_to sell_player_path(@player), method: :patch, data: { confirm: 'Продать игрока за полцены на рынок свободных агентов? Это действие отменить нельзя!' }, title: 'Продать игрока', class: 'btn btn-danger' do
      = inline_svg 'usd.svg', class: 'svg-picture white'
      = fa_icon 'sign-out'
      = t('buttons.sell')
