/ TODO добавить отображение real_position, efficienty, morale, physical_condition

-c = @player.country
-t = @player.team
.page-header
  %h2
    = @player.name
    = inline_svg 'copyright.svg', class: 'svg-picture', title: 'Капитан' if @player.captain
    = image_tag c.flag.url, title: c.title
  = link_to "[#{t.title}]", t, class: 'btn btn-link', style: "color: #000"
  = image_tag t.country.flag.url, title: t.country.title
  
.row.text-danger.text-center
  = render 'player_in_team_info'
  .col-md-1
  .col-md-2
    %br
    %br
    .list-group
      %h4.list-group-item.active{style: "color: #00F", title: "Статистика"}
        = inline_svg 'statistics.svg', class: 'svg-picture-medium'
      .list-group-item{title: "Игры"}
        = inline_svg 'field-vertical.svg', class: 'svg-picture-medium'
      -if @player.goalkeeper?
        .list-group-item{title: "Пропущенные голы"}
          = inline_svg 'soccer-ball.svg', class: 'svg-picture-medium red'
      .list-group-item{title: "Забитые голы"}
        = inline_svg 'soccer-ball.svg', class: 'svg-picture-medium green'
      .list-group-item{title: "Голевые пасы"}
        = inline_svg 'goal-pass.svg', class: 'svg-picture-medium'
      .list-group-item{title: "Автоголы"}
        = inline_svg 'autogoal.svg', class: 'svg-picture-medium'
      .list-group-item{title: "Жёлтые карточки"}
        = inline_svg 'yellow-card.svg', class: 'svg-picture-medium'
      .list-group-item{title: "Красные карточки"}
        = inline_svg 'red-card.svg', class: 'svg-picture-medium'
  .col-md-2
    %br
    %br
    .list-group.h4
      .list-group-item.active{style: "color: #00F", title: "Текущий сезон"}
        = inline_svg 'timer.svg', class: 'svg-picture-medium'
      .list-group-item
        = @player.season_games
      -if @player.goalkeeper?
        .list-group-item
          = @player.season_conceded_goals
      .list-group-item
        = @player.season_goals
      .list-group-item
        = @player.season_passes
      .list-group-item
        = @player.season_autogoals
      .list-group-item
        = @player.season_yellow_cards
      .list-group-item
        = @player.season_red_cards
  .col-md-2
    %br
    %br
    .list-group.h4
      .list-group-item.active{style: "color: #00F", title: "Карьера"}
        = inline_svg 'history.svg', class: 'svg-picture-medium'
      .list-group-item
        = @player.all_games
      -if @player.goalkeeper?
        .list-group-item
          = @player.all_conceded_goals
      .list-group-item
        = @player.all_goals
      .list-group-item
        = @player.all_passes
      .list-group-item
        = @player.all_autogoals
      .list-group-item
        = @player.all_yellow_cards
      .list-group-item
        = @player.all_red_cards

.btn-group
  = link_to t, class: 'btn btn-info' do
    = inline_svg 'group.svg', class: 'svg-picture-btn white'
    = t.title
  -if @current_user_team == t
    / = link_to edit_player_in_team_path(@player_in_team), class: 'btn btn-danger' do
    /  = inline_svg 'edit.svg', class: 'svg-picture-btn white'
    /  = t('buttons.edit')
    = link_to "/transfers/new?player_id=#{@player.id}", class: 'btn btn-default' do
      = inline_svg 'transfer.svg', class: 'svg-picture-btn'
      = t('buttons.transfer')
    = link_to sell_player_path(@player), method: :patch, data: { confirm: 'Продать игрока за полцены на рынок свободных агентов? Это действие отменить нельзя!' }, title: 'Продать игрока', class: 'btn btn-danger' do
      = inline_svg 'usd.svg', class: 'svg-picture-btn white'
      = t('buttons.sell')
