.page-header
  %h1= @player.name
.row
  .col-md-3
    %p
      %b= Player.human_attribute_name(:country) + ':'
      = link_to @country.i18n_title, @country, class: 'btn btn-link', style: "color: #00688B"
      = image_tag @country.flag.url
  .col-md-2
    %p
      %b= Player.human_attribute_name(:position1) + ':'
      = @player.full_position_name
    %p
      %b= Player.human_attribute_name(:talent) + ':'
      = @player.talent
  .col-md-2
    %p
      %b= Player.human_attribute_name(:age) + ':'
      = @player.age
    %p
      %b= Player.human_attribute_name(:skill_level) + ':'
      = @player.skill_level
  .col-md-5
    = render 'players/base_info/career_block'
.row
  .col-md-3
    %p
      %b= Player.human_attribute_name(:price) + ':'
      = number_to_currency(@player.price, locale: :en)
    %p
      %b= Player.human_attribute_name(:quality) + ':'
      -quality = @player.quality
      -quality[0].times do
        = inline_svg_tag 'star.svg', class: 'svg-picture'
      -if quality[1] == 1
        = inline_svg_tag 'star-half.svg', class: 'svg-picture'
      -quality[2].times do
        = inline_svg_tag 'star-o.svg', class: 'svg-picture'

-if @current_user.moderator?
  = link_to edit_player_path(@player), class: 'btn btn-danger' do
    = inline_svg_tag 'edit.svg', class: 'svg-picture-btn white'
    %span.centralize
      = t('buttons.edit')
= link_to players_path, class: 'btn btn-info' do
  = inline_svg_tag 'group.svg', class: 'svg-picture-btn white'
  %span.centralize
    = t('views.players.all')
-if @current_user_team && @player.available_to_buing_for?(@current_user_team)
  = link_to buy_processing_player_path(@player), class: 'btn btn-default', id: 'buy' do
    = inline_svg_tag 'share-square-o.svg', class: 'svg-picture-btn'
    %span.centralize
      = t('buttons.buy')
-else
  .text-danger= t('flash.players.buing_is_no_available')
