.page-header
  %h1 Покупка игрока

.row.text-danger.text-center
  .col-md-4
    .list-group
      %h4.list-group-item.active{style: "color: #00F"}
        = inline_svg 'footballer.svg', class: 'svg-picture'
        = @player.name
        = image_tag @player.country.flag.url, title: @player.country.title
        .row{style: "color: #FFD700"}
          -quality = @player.quality
          -quality[0].times do
            = inline_svg 'star.svg', class: 'svg-picture'
          -if quality[1] == 1
            = inline_svg 'star-half.svg', class: 'svg-picture'
          -quality[2].times do
            = inline_svg 'star-o.svg', class: 'svg-picture'
      .list-group-item
        = inline_svg 'location.svg', class: 'svg-picture'
        = @player.full_position_name
      .list-group-item
        = inline_svg 'level-up.svg', class: 'svg-picture'
        Талант: #{@player.talent}
      .list-group-item
        = inline_svg 'history.svg', class: 'svg-picture'
        Возраст: #{@player.age} #{Russian.p(@player.age, "год", "года", "лет")}
      .list-group-item
        = inline_svg 'level.svg', class: 'svg-picture'
        Мастерство: #{@player.skill_level}
      .list-group-item
        = inline_svg 'usd.svg', class: 'svg-picture'
        Цена: #{@player.price_to_currency}
%br

= form_for @player, url: buy_player_path, method: :patch do |f|
  = error_messages_for(@player)

  .row
    .col-md-2
      .form-group
        = f.label :number
        = f.number_field :number, class: 'form-control', min: 1, max: 99
    .col-md-2
      .form-group
        = f.label 'Роль в команде'
        = f.select :basic, { "Основной состав" => true, "Запас" => false }, class: 'form-control'
  .actions
    .btn-group
      = f.submit t('buttons.buy'), data: { confirm: 'Вы уверены?' }, class: 'btn btn-warning'
      = link_to t('buttons.cancel'), @player, class: 'btn btn-danger'

%br
.btn-group
  = link_to players_path, class: 'btn btn-info' do
    = inline_svg 'male.svg', class: 'svg-picture-btn white'
    = inline_svg 'male.svg', class: 'svg-picture-btn white'
    Все игроки
  -if @current_user_team
    = link_to @current_user_team, class: 'btn btn-primary' do
      = inline_svg 'group.svg', class: 'svg-picture-btn white'
      Моя команда
