.page-header
  %h1 Редактирование игрока

= render 'form'

%br
.btn-group
  = link_to @player, class: 'btn btn-warning' do
    = inline_svg 'footballer.svg', class: 'svg-picture-btn white'
    #{@player.name}
  = link_to players_path, class: 'btn btn-info' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    Все игроки