.page-header
  %h1 Игроки
  -unless @current_user_team
    .small.text-danger Необходимо создать команду, чтобы приобретение игроков стало доступным
.row
  =form_tag players_path, :method => 'get' do
    .input-group
      .col-lg-6
        = text_field_tag :search, params[:search], class: 'form-control'
        .input-group-btn
          = submit_tag "Искать по имени или позиции", :name => nil, class:'btn btn-default'

%br
%table.table-responsive.table-bordered.table-hover
  %thead
    %tr
      %th.text-center
        .fa.fa-male
        Игрок
      %th.text-center
        .fa.fa-flag
        Национальность
      %th.text-center
        .fa.fa-bookmark
        Позиция
      %th.text-center
        .fa.fa-level-up
        Талант
      %th.text-center
        .fa.fa-history
        Возраст
      %th.text-center
        .fa.fa-line-chart
        Мастерство
      %th.text-center
        .fa.fa-money
        Цена
      %th.text-center
        .fa.fa-star
        Качество игрока
      -#%th
      -#%th
      -#-if @current_user.role!=0
      -#  %th
      -#  %th
      
  %tbody
    - @players.each do |player|
      %tr.text-center
        %td= player.name
        -c = player.country
        %td
          = image_tag c.flag.url, title: "#{c.title}"
        %td
          = player.full_position_name
        %td= player.talent
        %td= player.age
        %td= player.skill_level
        %td
          = number_to_currency(player.price, locale: :en, precision: 3)
        %td
          -quality = player.quality
          -quality[0].times do
            = fa_icon 'star'
          -if quality[1] == 1
            = fa_icon 'star-half-o'
          -quality[2].times do
            = fa_icon 'star-o'
        -if @current_user.moderator?
          %td
            = link_to edit_player_path(player), class: 'btn btn-link' do
              = fa_icon "wrench"
          %td
            = link_to player, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
              = fa_icon "trash"
        %td
          = link_to player, class: 'btn btn-link' do
            = fa_icon "street-view"
        %td
          -if @current_user_team
            = link_to buy_player_player_path(player), class: 'btn btn-default', id: 'buy_player' do
              = fa_icon "share-square-o"
              Купить
          -else
            .text-danger Покупка не доступна
%br

-if @current_user.moderator?
  = link_to new_player_path, class: 'btn btn-default' do
    = fa_icon "plus"
    Новый игрок

%br
= paginate @players