/ TODO добавить отображение morale, physical_condition

.col-md-4
  .list-group
    %h3.list-group-item.active{style: "color: #000"}
      = inline_svg_tag 'footballer.svg', class: 'svg-picture-btn'
      = @player.name
      = image_tag @country.flag.url, title: @country.i18n_title
      .row
        .col-md-3
        .col-md-6
          -quality = @player.quality
          -quality[0].times do
            = inline_svg_tag 'star.svg', class: 'svg-picture-btn'
          -if quality[1] == 1
            = inline_svg_tag 'star-half.svg', class: 'svg-picture-btn'
          -quality[2].times do
            = inline_svg_tag 'star-o.svg', class: 'svg-picture-btn'
        .col-md-3
      №#{@player.number}
    .list-group-item{title: Player.human_attribute_name(:position1)}
      .div
        = inline_svg_tag 'location.svg', class: 'svg-picture-btn green'
        Номинальная позиция: #{@player.full_position_name}
      -unless @transfer
        .div
          = inline_svg_tag 'location.svg', class: 'svg-picture-btn red'
          Реальная позиция: #{@player.real_position_name}
        .div
          = inline_svg_tag 'cogwheel.svg', class: 'svg-picture-btn'
          Эффективность: #{(@player.efficienty * 100).to_i}%
    .list-group-item
      = inline_svg_tag 'level-up.svg', class: 'svg-picture-btn'
      = Player.human_attribute_name(:talent) + ':'
      = @player.talent
    .list-group-item
      = inline_svg_tag 'history.svg', class: 'svg-picture-btn'
      = Player.human_attribute_name(:age) + ':'
      = "#{@player.age} #{Russian.p(@player.age, "год", "года", "лет")}"
    .list-group-item
      = inline_svg_tag 'level.svg', class: 'svg-picture-btn'
      = Player.human_attribute_name(:skill_level) + ':'
      = @player.skill_level
    -if @transfer
      .list-group-item{title: "Цена"}
        = inline_svg_tag 'usd.svg', class: 'svg-picture-btn'
        %span.player-info-first-price
          = @player.price_to_currency
        %span.player-info-second-price
          = @transfer.cost_to_currency
    -else
      .list-group-item
        = inline_svg_tag 'usd.svg', class: 'svg-picture-btn'
        = Player.human_attribute_name(:price) + ':'
        = @player.price_to_currency
    .list-group-item
      = inline_svg_tag 'flash.svg', class: 'svg-picture-btn'
      = Player.human_attribute_name(:special_skill1) + ':'
      = @player.show_special_skills
    -unless @transfer
      .list-group-item
        Готовность к игре:
        -if @player.can_play
          %strong.text-success Да (#{t("player.status.#{@player.status}")})
        -else
          %strong.text-danger Нет (#{t("player.status.#{@player.status}")})
        -if @player.games_missed != 0
          Выбыл на #{@player.games_missed} #{Russian.p(@player.injured,"игру","игры","игр")}. Причина:
          -if @player.injured != 0
            = inline_svg_tag 'medkit.svg', class: 'svg-picture-btn'
            = @player.injured
          -if @player.status == 'penalty'
            -if @player.games_missed == 1
              = inline_svg_tag 'yellow-card.svg'
              x
              = @player.season_yellow_cards
            = inline_svg_tag 'red-card.svg' if @player.games_missed == 2
        %br
        -if @player.basic
          .li{style:"color: #00F"} [Основной состав]
        -else
          .li{style:"color: #D00"} [Запас]
