= form_for @country do |f|
  =error_messages_for(@country)

  .row
    .col-md-3
      .form-group
        .fa.fa-pencil
        = f.label :title
        = f.text_field :title, class: "form-control"
  %br
  .row
    .col-md-3
      .form-group
        .fa.fa-pencil
        = f.label :title_en
        = f.text_field :title_en, class: "form-control"
  %br
  .row
    .col-md-3
      .form-group
        .fa.fa-file-image-o
        = f.label :flag
        = f.file_field :flag
  .actions
    = f.submit t('buttons.save'), class: "btn btn-primary"
%br
