.page-header
  %h1 Страны

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th.text-center
        .fa.fa-pencil
        Название
      %th.text-center
        .fa.fa-flag
        Флаг
      %th
      %th
      %th
      
  %tbody
    - @countries.each do |country|
      %tr.text-center
        %td
          = country.title
        %td
          = image_tag country.flag.url, alt: country.title
        %td
          = link_to country, class: "btn btn-link" do
            = fa_icon "chevron-circle-right"
        %td
          = link_to edit_country_path(country), class: "btn btn-link" do
            = fa_icon "wrench"
        %td
          = link_to country, :method => :delete, :data => {:confirm => 'Вы уверены?'}, class: "btn btn-link" do
            = fa_icon "trash-o"

%br
= link_to new_country_path, class:'btn btn-primary' do
  = fa_icon "plus"
  Создать страну

%br
=paginate @countries