.text-center
  .page-header
    %h3
      =@country.title
      = image_tag @country.flag.url, alt: @country.title
  %br
  %h4 Пользователи:
  -if @users.size>0
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr{class: 'success'}
          %th.text-center
            .fa.fa-user
            Логин
          %th.text-center
            .fa.fa-users
            Команда
      %tbody
        - @users.each do |user|
          %tr.text-center
            %td=link_to user.login,user,style:"color: #FFA500"
            %td
              -t = user.team
              -if t
                =link_to t.title, t, style: "color: #00F"
              -else
                .text-danger.li Не создана!
  -else
    %h5.text-danger Пользователей из данной страны нет!
  %br
  %h4 Игроки в командах:
  -if @player_in_teams.size>0
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr{class: 'success'}
          %th.text-center
            Команда
          %th.text-center
            .fa.fa-male
            Игрок
          %th.text-center
            .fa.fa-bookmark
            Позиция
          %th.text-center
            .fa.fa-level-up
            Талант
          %th.text-center
            .fa.fa-history
            Возраст
          %th.text-center
            .fa.fa-line-chart
            Мастерство
          %th.text-center
            .fa.fa-money
            Цена
          %th.text-center
            .fa.fa-star
            Качество игрока
      %tbody
        - @player_in_teams.each do |pl|
          %tr.text-center
            -t = pl.team
            %td=link_to t.title, t, style: "color: #00F"
            %td=link_to pl.name, pl, style: "color: #410405"
            %td{title: pl.position1}
              = pl.full_position_name
            %td= pl.talent
            %td= pl.age
            %td= pl.skill_level
            %td
              -a,count,i="#{pl.price}".reverse,0,0
              -while a[i]!='.'
                -count+=1;i+=1
              #{number_to_currency(pl.price, locale: :en, precision: count)}
            %td
              =pl.level_define/2.0
              -max=5
              -cel,ost=pl.level_define/2,pl.level_define%2
              -cel.times do
                .fa.fa-star
              -if pl.level_define%2!=0
                .fa.fa-star-half-o
              -(max-cel-ost).times do
                .fa.fa-star-o
  -else
    %h5.text-danger Представители данной страны не играют ни за один клуб!
  %br
  %h4 Свободные агенты:
  -if @players.size>0
    %table.table.table-responsive.table-bordered.table-hover
      %thead
        %tr{class: 'success'}
          %th.text-center
            .fa.fa-male
            Игрок
          %th.text-center
            .fa.fa-bookmark
            Позиция
          %th.text-center
            .fa.fa-level-up
            Талант
          %th.text-center
            .fa.fa-history
            Возраст
          %th.text-center
            .fa.fa-line-chart
            Мастерство
          %th.text-center
            .fa.fa-money
            Цена
          %th.text-center
            .fa.fa-star
            Качество игрока

      %tbody
        - @players.each do |player|
          %tr.text-center
            %td= link_to player.name, player, style: "color: #106C7A"
            %td{title: player.position1}
              = player.full_position_name
            %td= player.talent
            %td= player.age
            %td= player.skill_level
            %td
              -a,count,i="#{player.price}".reverse,0,0
              -while a[i]!='.'
                -count+=1;i+=1
              = number_to_currency(player.price, locale: :en, precision: count)
            %td
              =player.level_define/2.0
              -max=5
              -cel,ost=player.level_define/2,player.level_define%2
              -cel.times do
                .fa.fa-star
              -if player.level_define%2!=0
                .fa.fa-star-half-o
              -(max-cel-ost).times do
                .fa.fa-star-o
  -else
    %h5.text-danger Игроков из данной страны нет!
  %br
  -if @current_user.moderator?
    = link_to edit_country_path(@country), class: 'btn btn-danger' do
      =fa_icon "edit"
      Редактировать
  = link_to countries_path, class: 'btn btn-info' do
    =fa_icon "flag"
    Все страны
