= form_for @transfer do |f|
  = f.hidden_field :player_id, value: params[:player_id]
  = error_messages_for(@transfer)
  .form-group
    = f.label :cost
    = f.number_field :cost, class: 'form-control'
  .actions
    = f.submit t('buttons.confirm'), class: 'btn btn-primary'
