.page-header
  %h1
    .glyphicon.glyphicon-transfer
    Трансферы

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th.text-center
        = inline_svg 'footballer.svg', class: 'svg-picture'
        Игрок
      %th.text-center
        .fa.fa-upload
        Клуб-продавец
      %th.text-center
        .fa.fa-download
        Клуб-покупатель
      %th.text-center
        = inline_svg 'money.svg', class: 'svg-picture'
        Стоимость покупки
      %th.text-center
        .fa.fa-question-circle
        Статус
      %th
      %th
      %th

  %tbody
    - @transfers.each do |transfer|
      %tr.text-center
        %td= link_to transfer.player.name, transfer.player, style: "color: #410405"
        %td
          = link_to transfer.vendor.title, transfer.vendor, style: "color: #00F"
        %td
          = link_to transfer.purchaser.title, transfer.purchaser, style: "color: #00F" if transfer.purchaser
        %td
          / TODO: вынести в модель....
          -a,count,i="#{transfer.cost}".reverse,0,0
          -while a[i]!='.'
            -count+=1;i+=1
          = number_to_currency(transfer.cost, locale: :en, precision: count)
        %td{style: "color: " + "#{transfer.statuses_in_colors}"}
          = transfer.status
        %td
          = link_to transfer, class: 'btn btn-link' do
            = inline_svg 'arrow-circle-o-right.svg', class: 'svg-picture white'
        -if @current_user == transfer.player.team.user
          %td
            = link_to edit_transfer_path(transfer), class: 'btn btn-link' do
              = inline_svg 'edit.svg', class: 'svg-picture white'
          %td
            = link_to transfer, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
              = inline_svg 'trash.svg', class: 'svg-picture white'
        -else
          %td
            = link_to edit_transfer_path(transfer), class: 'btn btn-link', title: 'Купить игрока' do
              .glyphicon.glyphicon-transfer
%br
