.page-header
  %h1
    = inline_svg_tag 'transfer.svg', class: 'svg-picture-giant'
    Мои предложения

-if @user_transfers.blank?
  .text-danger
    Вы не выставили ни одного игрока на продажу.
-else
  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %th.text-center
          = inline_svg_tag 'footballer.svg', class: 'svg-picture-table'
          Игрок
        %th.text-center
          = inline_svg_tag 'location.svg', class: 'svg-picture-table'
          Позиция
        %th.text-center
          = inline_svg_tag 'level-up.svg', class: 'svg-picture-table'
          Талант
        %th.text-center
          = inline_svg_tag 'history.svg', class: 'svg-picture-table'
          Возраст
        %th.text-center
          = inline_svg_tag 'level.svg', class: 'svg-picture-table'
          Мастерство
        %th.text-center
          = inline_svg_tag 'usd.svg', class: 'svg-picture-table'
          Стоимость
        %th.text-center
          = inline_svg_tag 'question-circle.svg', class: 'svg-picture-table'
          Статус
        %th
        %th
        %th

    %tbody
      - @user_transfers.each do |transfer|
        %tr.text-center
          %td
            = link_to transfer.player.name, transfer.player, style: "color: #410405"
            = image_tag transfer.player.country.flag.url, title: transfer.player.country.i18n_title
          %td{title: transfer.player.position1}
            = transfer.player.full_position_name
          %td= transfer.player.talent
          %td= transfer.player.age
          %td= transfer.player.skill_level
          %td
            = transfer.cost_to_currency
          %td{style: "color: " + "#{transfer.statuses_in_colors}"}
            = t("transfer.status.#{transfer.status}")
          %td
            = link_to transfer, class: 'btn btn-link' do
              = inline_svg_tag 'arrow-circle-o-right.svg', class: 'svg-picture-btn'
          %td
            = link_to edit_transfer_path(transfer), class: 'btn btn-link' do
              = inline_svg_tag 'edit.svg', class: 'svg-picture-btn'
          %td
            = link_to transfer, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
              = inline_svg_tag 'trash.svg', class: 'svg-picture-btn'
%br
%br

.page-header
  %h1
    = inline_svg_tag 'transfer.svg', class: 'svg-picture-giant'
    Трансферы

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th.text-center
        = inline_svg_tag 'footballer.svg', class: 'svg-picture-table'
        Игрок
      %th.text-center
        = inline_svg_tag 'vendor.svg', class: 'svg-picture-table'
        Клуб-продавец
      %th.text-center
        = inline_svg_tag 'location.svg', class: 'svg-picture-table'
        Позиция
      %th.text-center
        = inline_svg_tag 'level-up.svg', class: 'svg-picture-table'
        Талант
      %th.text-center
        = inline_svg_tag 'history.svg', class: 'svg-picture-table'
        Возраст
      %th.text-center
        = inline_svg_tag 'level.svg', class: 'svg-picture-table'
        Мастерство
      %th.text-center
        = inline_svg_tag 'usd.svg', class: 'svg-picture-table'
        Стоимость
      %th.text-center
        = inline_svg_tag 'question-circle.svg', class: 'svg-picture-table'
        Статус
      %th
      %th
      %th

  %tbody
    - @transfers.each do |transfer|
      %tr.text-center
        %td
          = link_to transfer.player.name, transfer.player, style: "color: #410405"
          = image_tag transfer.player.country.flag.url, title: transfer.player.country.i18n_title
        %td
          = link_to transfer.vendor.title, transfer.vendor, style: "color: #00F"
          = image_tag transfer.vendor.country.flag.url, title: transfer.vendor.country.i18n_title
        %td{title: transfer.player.position1}
          = transfer.player.full_position_name
        %td= transfer.player.talent
        %td= transfer.player.age
        %td= transfer.player.skill_level
        %td
          = transfer.cost_to_currency
        %td{style: "color: " + "#{transfer.statuses_in_colors}"}
          = t("transfer.status.#{transfer.status}")
        %td
          = link_to transfer, class: 'btn btn-link' do
            = inline_svg_tag 'arrow-circle-o-right.svg', class: 'svg-picture-btn'
        -if @current_user == transfer.player.team.user
          %td
            = link_to edit_transfer_path(transfer), class: 'btn btn-link' do
              = inline_svg_tag 'edit.svg', class: 'svg-picture-btn'
          %td
            = link_to transfer, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-link' do
              = inline_svg_tag 'trash.svg', class: 'svg-picture-btn'
        -else
          %td
            = link_to edit_transfer_path(transfer), class: 'btn btn-link', title: 'Купить игрока' do
              = inline_svg_tag 'transfer.svg', class: 'svg-picture-btn'
%br
