.text-center
  .page-header
    %h1 Создание нового трансферного предложения
    -pl = Player.find(params[:player_id])
    -c = pl.country
    %h3
      = pl.name
      = image_tag c.flag.url, title: c.title
  .row.text-danger
    .col-md-2
    .col-md-4
      .list-group
        %h3.list-group-item.active{style: "color: #00F"}
          = inline_svg 'footballer.svg', class: 'svg-picture'
          = pl.name
          = image_tag c.flag.url, title: c.title
          .row{style: "color: #FFD700"}
            -quality = @player.quality
            -quality[0].times do
              = inline_svg 'star.svg', class: 'svg-picture'
            -if quality[1] == 1
              = inline_svg 'star-half.svg', class: 'svg-picture'
            -quality[2].times do
              = inline_svg 'star-o.svg', class: 'svg-picture'
          = "№#{pl.number}"
        .list-group-item{title: "Позиция"}
          = inline_svg 'location.svg', class: 'svg-picture'
          = pl.full_position_name
        .list-group-item{title: "Талант"}
          = inline_svg 'level-up.svg', class: 'svg-picture'
          = pl.talent
        .list-group-item{title: "Возраст"}
          = inline_svg 'history.svg', class: 'svg-picture'
          #{pl.age} #{Russian.p(pl.age, "год", "года", "лет")}
        .list-group-item{title: "Мастерство"}
          = inline_svg 'level.svg', class: 'svg-picture'
          = pl.skill_level
        .list-group-item{title: "Цена"}
          = inline_svg 'money.svg', class: 'svg-picture'
          = pl.price_to_currency
        .list-group-item{title: "Специальные умения"}
          = inline_svg 'flash.svg', class: 'svg-picture'
          = pl.show_special_skills
    .col-md-2
    .col-md-3
      %br
      %br
      %br
      %br
      %br
      = render 'form'
  = link_to transfers_path, class: 'btn btn-info' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    %span.centralize
      Все трансферы
  = link_to @current_user_team, class: 'btn btn-warning' do
    = inline_svg 'group.svg', class: 'svg-picture-btn white'
    %span.centralize
      Моя команда
