%h1 Информация о трансфере игрока

%p
  %b Игрок:
  = @transfer.player
%p
  %b Продавец:
  = @transfer.vendor
%p
  %b Покупатель:
  = @transfer.purchaser
%p
  %b Итоговая стоимость:
  = @transfer.cost
%p
  %b Статус:
  = @transfer.status

= link_to t('buttons.edit'), edit_transfer_path(@transfer), class: 'btn btn-danger'
= link_to 'Все трансферы', transfers_path, class: 'btn btn-primary'
