%li.active= link_to t('views.users.all'), users_path
%li.dropdown
  %a.dropdown-toggle{href: "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"} 
    = t('views.countries.block')
    %b.caret
    %ul.dropdown-menu{"role" => "menu"}
      %li
        %a{href: countries_path}
          = t('views.countries.all')
        %a{href: new_country_path}
          = t('views.countries.create')
%li.dropdown
  %a.dropdown-toggle{href: "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
    = t('views.players.block')
    %b.caret
    %ul.dropdown-menu{"role" => "menu"}
      %li
        %a{href: players_path}
          = t('views.players.all')
        %a{href: new_player_path}
          = t('views.players.create')
%li= link_to t('views.transfers.all'), transfers_path
