%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to ?#, class: "navbar-toggle collapsed", data: { toggle: "collapse", target: "#menu" } do
        = fa_icon "bars"
      -if @current_user
        %div{ class: 'btn-group' }
          %button{ id: "main_menu_btn", type: "button", class: "btn btn-link navbar-brand dropdown-toggle", data: { toggle: "dropdown" } }
            Меню
            %span{ class: "caret" }
          %ul{ class: "dropdown-menu" }
            .li= link_to t('views.users.my_page'), @current_user, class: 'btn btn-link'
            .li= link_to t('views.teams.my_team'), @current_user_team, class: 'btn btn-link'
      -else
        %span.h3.navbar-text= t('views.site_title')
    #menu.collapse.navbar-collapse
      -if @current_user
        %ul.nav.nav-pills
          -if @current_user.moderator?
            = render 'admin_links'
          -else
            = render 'user_links'
      %ul.nav.navbar-nav.navbar-right
        -if @current_user.blank?
          %li= link_to t('buttons.sign_up'), registration_users_path
          %li= link_to t('buttons.sign_in'), login_path
        -else
          %li
            %span.navbar-text= @current_user.login
            %span.navbar-text= @current_user.email
            -if @current_user_team
              %span.navbar-text= @current_user_team.title
              %span.navbar-text= "#{t('views.teams.budget')}: #{@current_user_team.budget_to_currency}"
            = link_to t('buttons.logout'), logout_path, data: { method: :patch }
