%li.active= link_to 'Мой профиль', @current_user
%li= link_to 'Моя команда', @current_user_team
%li= link_to 'Страны', countries_path
%li= link_to 'Игроки', players_path
%li= link_to 'Трансферы', transfers_path