!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StarTeam
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'navbar'
    .container-fluid
      -if @current_user && @current_user.user?
        -if @current_user_team
          -if !@current_user_team.club_base
            .alert.alert-warning.fade.in
              %button{class: 'close', "aria-hidden" => 'true', "data-dismiss" => 'alert', "type" => 'button'}x
              %strong Вы не построили базу клуба!
              = link_to new_team_club_basis_path(@current_user_team), class: 'btn btn-danger', type: 'button' do
                = inline_svg 'club_base.svg', class: 'svg-picture-btn white'
                Построить базу клуба сейчас
          -if !@current_user_team.stadium
            .alert.alert-warning.fade.in
              %button{class: 'close', "aria-hidden" => 'true', "data-dismiss" => 'alert', "type" => 'button'}x
              %strong Вы не построили стадион!
              = link_to new_team_stadium_path(@current_user_team), class: 'btn btn-danger', type: 'button' do
                = inline_svg 'stadium.svg', class: 'svg-picture-btn white'
                Построить стадион сейчас
      = render 'flash_messages'
      = yield
    %br